@use '../color';
@use '../mquery';
@use '../typo';
@use '../global';
@use '../page-projet';

// --- DÉFINITION DES VARIABLES COULEURS DE LA PAGE PROJET ---
:root {
    //couleur de fond de la page
    --fond-page-projet: #{color.$ambiance-100};

    // fond et couleur de texte des encarts gros titres du header et des sections du projet
    --fond-titre-projet: #2196F3;
    --couleur-titre-projet: #ffffff;

    // couleur des paragraphes de texte
    --couleur-texte-projet: #ffffff;

    // couleur distinctive du projet, utilisée sur les boutons, bullet points, petits titres...
    --couleur-focus-projet: #87185D;
    --couleur-focus-bis-projet: #680B42;

    // couleur des éléments en opposition avec le fond (bloc blanc sur fond sombre par ex)
    --couleur-contraste-projet: #ffffff;

    // couleur lignes de séparation entre des éléments
    --couleur-ligne-projet: #{color.$ambiance-80};

    // couleurs globale des cadres scrollables
    --cadre-scroll-base-color:#E6E6E6;
    --cadre-scroll-tab1-color:#D7D7D7;
    --cadre-scroll-tab2-color:#B5B5B5;
    --cadre-scroll-icons-color:#535353;
}

// Règles par section
#Header_projet {
    background-image: url("/fr/projet/2023-communication-wotbus/img/projet-page-header.webp");

    #Titre_page {
      font-family: 'Ubuntu-showcase', sans-serif;
      background: rgba(33, 148, 242, 0.9);
      line-height: 1.2;
      font-size: 42px;
      font-weight: 700;
      padding: 20px 30px 22px 30px;

      // media query #Titre_page
      @include mquery.laptop {   
          font-size: 58px;
      }

      // media query #Titre_page
      @include mquery.tv {   
          font-size: 90px;
      }

      &.header-titre-scrolled {
          // media query #Titre_page
          @include mquery.laptop { 
              font-size: 42px;
          }

          // media query #Titre_page
          @include mquery.tv {   
              font-size: 60px;
          }
      }
  }
}

#Visuels-projet {

    .phrase-forte {
        text-align: center;
    }

}

/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not(translate: none)) {

  // Alternatives aux webp
  #Header_projet {
      background-image: url("/fr/projet/2023-communication-wotbus/img/projet-page-header.png");
  }

  
}