@use '../color';
@use '../mquery';
@use '../typo';
@use '../global';
@use '../page-projet';


#Header_projet {
    background-image: url("../../../fr/projet/2023-portfolio-dh/img/projet-page-header.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#Showreel_projet {

    .cadre-mobile {
        display: flex;

        // media query .cadre-mobile
        @include mquery.laptop {   
            display: none;
        }
    }

    .cadre-desktop {
        display: none;

        // media query .cadre-desktop
        @include mquery.laptop {   
            display: flex;
        }
    }
}

#Objectifs_projet {


    .schema-objectifs {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 0 auto;

        // media query .schema-objectifs
        @include mquery.laptop {
           max-width: 100%;   
            
        }

    }

}