@use '../color';
@use '../mquery';
@use '../typo';
@use '../global';
@use '../page-projet';


#Header_projet {
    background-image: url("../../../fr/projet/2023-portfolio-dh/img/projet-page-header.png");
    background-repeat: no-repeat;
    background-size: cover;

}

