@use '../color';
@use '../mquery';
@use '../typo';
@use '../global';
@use '../page-projet';

// --- (RE)DÉFINITION DES COULEURS DE LA PAGE PROJET ---
:root {
    //couleur de fond de la page
    --fond-page-projet: #{color.$ambiance-100};

    // fond et couleur de texte des encarts gros titres du header et des sections du projet
    --fond-titre-projet: #F07E13;
    --couleur-titre-projet: #ffffff;

    // couleur des paragraphes de texte
    --couleur-texte-projet: #ffffff;

    // couleur distinctive du projet, utilisée sur les boutons, bullet points, petits titres...
    --couleur-focus-projet: #F07E13;
    --couleur-focus-bis-projet: #D35F00;

    // couleur des éléments en opposition avec le fond (bloc blanc sur fond sombre par ex)
    --couleur-contraste-projet: #ffffff;

    // couleur lignes de séparation entre des éléments
    --couleur-ligne-projet: #{color.$ambiance-80};

    // couleurs globale des cadres scrollables
    --cadre-scroll-base-color:#E6E6E6;
    --cadre-scroll-tab1-color:#D7D7D7;
    --cadre-scroll-tab2-color:#B5B5B5;
    --cadre-scroll-icons-color:#535353;
}

// --- APPELS DES TYPOS UNIQUES AU PROJET ---
    
  //Kanit (regular)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (regular italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Italic.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (medium)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (medium italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (semi-bold)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (semi-bold italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (bold)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (bold italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (extra-bold)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (extra-bold italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (black)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Black.ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (black italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (light)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (light italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (extra-light)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (extra-light italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  //Kanit (thin)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-Thin.ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  //Kanit (thin italic)
  @font-face {
    font-family: "Kanit-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Kanit-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  //Biryani (regular)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  //Biryani (semi-bold)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  //Biryani (bold)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  //Biryani (extra-bold)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  //Biryani (black)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-Black.ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  //Biryani (light)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  //Biryani (extra-light)
  @font-face {
    font-family: "Biryani-showcase";
    src: url("/fr/projet/2022-site-dataoptique/font/Biryani-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

// Règles par section
#Header_projet {
    background-image: url("/fr/projet/2022-site-dataoptique/img/projet-page-header.webp");

    #Titre_page {
      font-family: 'Kanit-showcase', sans-serif;
      background: rgba(43, 55, 64, 0.90);
      line-height: 1.2;
      font-size: 38px;
      font-weight: 600;
      padding: 20px 30px 22px 30px;

      // media query #Titre_page
      @include mquery.laptop {   
          font-size: 54px;
      }

      // media query #Titre_page
      @include mquery.tv {   
          font-size: 88px;
      }

      &.header-titre-scrolled {
          // media query #Titre_page
          @include mquery.laptop { 
              font-size: 40px;
          }

          // media query #Titre_page
          @include mquery.tv {   
              font-size: 58px;
          }
      }
  }
}

/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not(translate: none)) {

    // Alternatives aux webp
    #Header_projet {
        background-image: url("/fr/projet/2022-site-dataoptique/img/projet-page-header.png");
    }

    
}