@use '../color';
@use '../mquery';
@use '../typo';
@use '../global';
@use '../page-projet';

// --- (RE)DÉFINITION DES COULEURS DE LA PAGE PROJET ---
:root {
    //couleur de fond de la page
    --fond-page-projet: #{color.$ambiance-100};

    // fond et couleur de texte des encarts gros titres du header et des sections du projet
    --fond-titre-projet: #794C99;
    --couleur-titre-projet: #ffffff;

    // couleur des paragraphes de texte
    --couleur-texte-projet: #ffffff;

    // couleur distinctive du projet, utilisée sur les boutons, bullet points, petits titres...
    --couleur-focus-projet: #2196F3;
    --couleur-focus-bis-projet: #0976D8;

    // couleur des éléments en opposition avec le fond (bloc blanc sur fond sombre par ex)
    --couleur-contraste-projet: #ffffff;

    // couleur lignes de séparation entre des éléments
    --couleur-ligne-projet: #{color.$ambiance-80};

    // couleurs globale des cadres scrollables
    --cadre-scroll-base-color:#E6E6E6;
    --cadre-scroll-tab1-color:#D7D7D7;
    --cadre-scroll-tab2-color:#B5B5B5;
    --cadre-scroll-icons-color:#535353;
}

// --- APPELS DES TYPOS POUR CETTE PAGE (cas spécial cas conflit avec typos actuels site) ---

//Teko (regular)
@font-face {
  font-family: "Teko-showcase";
  src: url("/fr/projet/2021-site-welwot/font/Teko-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

//Teko (medium)
@font-face {
  font-family: "Teko-showcase";
  src: url("/fr/projet/2021-site-welwot/font/Teko-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//Teko (semi-bold)
@font-face {
  font-family: "Teko-showcase";
  src: url("/fr/projet/2021-site-welwot/font/Teko-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

//Teko (bold)
@font-face {
  font-family: "Teko-showcase";
  src: url("/fr/projet/2021-site-welwot/font/Teko-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//Teko (light)
@font-face {
  font-family: "Teko-showcase";
  src: url("/fr/projet/2021-site-welwot/font/Teko-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Règles globales page
.trigger-instruction-tag {
    background: color.$secondary-100!important;
}


// Règles par section
#Header_projet {
    background-image: url("/fr/projet/2021-site-welwot/img/projet-page-header.webp");
    background-repeat: no-repeat;
    background-size: cover;

    #Titre_page {
      background: rgba(39, 22, 37, 0.9);
      font-family: 'Teko-showcase', sans-serif;
      line-height: 1;
      font-size: 44px;
      font-weight: 600;
      padding: 24px 30px 18px 30px;

      // media query #Titre_page
      @include mquery.laptop {   
          font-size: 62px;
      }

      // media query #Titre_page
      @include mquery.tv {   
          font-size: 94px;
      }

      &.header-titre-scrolled {
          // media query #Titre_page
          @include mquery.laptop { 
              font-size: 46px;
          }

          // media query #Titre_page
          @include mquery.tv {   
              font-size: 62px;
          }
      }
    }

    #Scroll_btn_header {
      background: color.$ambiance-100;
      box-shadow: 0px 0px 18px 0 rgba(91, 51, 120, 0.5);

      .scroll-btn-header-icon {
        background-image: url("../svg/ico-fleche-scroll-blanc.svg");
      }
    }

    #Scroll_btn_header:hover {
      box-shadow: 0px 0px 20px 0 rgba(91, 51, 120, 0.75);
    }
}

#Resume_projet {

    .zone-cadre-video {
        padding: 0 30px;

        // media query .zone-cadre-video
        @include mquery.laptop {   
            padding: 0;
        }
    }

    #Video_showreel_mob {
        display: block;

        // media query #Video_showreel_mob
        @include mquery.laptop {   
            display: none;
        }
    }

    #Video_showreel_desk {
        display: none;

        // media query #Video_showreel_desk
        @include mquery.laptop {   
            display: block;
        }
    }
}




/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not(translate: none)) {

    // Alternatives aux webp
    #Header_projet {
        background-image: url("/fr/projet/2021-site-welwot/img/projet-page-header.png");
    }

    
}