// Typographie
$base-text:#242424;

// Couleur primaire
$primary-20:#FFF1EE;
$primary-60:#FFCCC6;
$primary-80:#FF9892;
$primary-100:#FF6666;
$primary-120:#E93B39;
$primary-160:#BD0906;
$primary-200:#7C0101;

// Couleur secondaire
$secondary-20:#E2F6F2;
$secondary-40:#BEDDD6;
$secondary-70:#84BCB0;
$secondary-100:#439A86;
$secondary-120:#238A70;
$secondary-140:#067A5B;
$secondary-200:#00593E;

// Couleur d'ambiance
$ambiance-30:#D8D6D8;
$ambiance-40:#A69CA4;
$ambiance-80:#544953;
$ambiance-100:#342B33;
$ambiance-120:#261624;
$ambiance-160:#190517;