@use 'color';
@use 'mquery';

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: color.$ambiance-100;
}

main {
    max-width: 2600px;
    margin: auto;
}

// navbar
.navbar {
    background: rgba(38, 22, 36, 0.8);
    backdrop-filter: blur(4px);
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    // media query
    @include mquery.laptop {    
        background: rgba(38, 22, 36, 0.5);
        transition: background 0.3s ease-in-out;

        &:hover {
            background: rgba(38, 22, 36, 0.8);
        }
    }

    //navbar lorsqu'hamburger = ouvert
    &.active {
        background: #261624;
    }

    // logo nav
    .nav-logo {
        text-decoration: none;
        display: flex;

        img {
            width: 45px;
            height: 45px;
            margin: auto 12px auto 0px;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }

        .logo-txt {

            p {
                font-family: 'Alegreya', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #ffffff;
                margin: 0;

                &:nth-child(1) {
                    //padding-left: 0px;
                    //transition: padding 0.2s ease-in-out;
                    transition: color 0.3s ease-in-out;
                }

                &:nth-child(2) {
                    //padding-left: 0px;
                    //transition: padding 0.2s ease-in-out;
                    transition: color 0.3s ease-in-out;
                }
            }

            

        }

        &:hover .logo-txt p:nth-child(1)::first-letter {
            //padding-left: 2px;
            //color: color.$primary-80;
        }

        &:hover .logo-txt p:nth-child(2)::first-letter {
            //padding-left: 5px;
            //color: color.$primary-80;
        }

        &:hover img {
            transform: scale(1.1);
        }
        
    }

    // trigger menu hamburger mobile
    .nav-toggle {
        display: block;
        cursor: pointer;

        // media query
        @include mquery.laptop {    
            display: none;
        }

        // barres de l'icone hamburger
        .bar {
            display: block;
            width: 40px;
            height: 3px;
            margin: 10px auto;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            background: #ffffff;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(13px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-13px) rotate(-45deg);
        }
    }

    // conteneur éléments nav
    .nav-menu {
        justify-content: space-between;
        align-items: start;
        position: fixed;
        left: 0;
        top: 80px;
        display: none;
        gap: 0;
        flex-direction: column;
        background: #342B33;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;

        // nav-menu lorsqu'hamburger = ouvert
        &.active {
            display: flex;
        }

        // media query .nav-menu
        @include mquery.laptop {   
            position: relative;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            gap: 50px;
            flex-direction: row;
            background: none;
            width: auto;
            text-align: left;
            text-align: center;
        }

        // élément nav
        .nav-item {
            list-style: none;
            margin:0;
            width: 100%;

            // media query
            @include mquery.laptop {  
                width: auto;
            }

            //lien nav
            .nav-link {
                font-family: 'Alegreya', sans-serif;
                font-size: 36px;
                font-weight: 800;
                color: #ffffff;
                text-decoration: none;
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                padding: 30px 30px 0 30px;
                transition: padding 0.1s ease-in-out;
                width: 100%;

                &:hover {
                    padding: 30px 30px 0 35px;
                    color: color.$primary-100;
                }

                // media query
                @include mquery.laptop { 
                    font-family: 'Assistant', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    color: #ffffff;
                    text-transform: none;
                    padding: 0px;
                    transition: padding 0s ease-in-out;

                    &:hover {
                        padding: 0;
                        color: #ffffff;
                    }
                    
                    // effet de soulignage en hover
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 3px;
                        bottom: -3px;
                        left: 0;
                        background-color: color.$primary-100;
                        transform-origin: bottom right;
                        transition: transform 0.4s ease-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
                
            }
        }
    }

}

.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #342B33;

    // nav-overlay lorsqu'hamburger = ouvert
    &.active {
        display: block;
    }

    // media query
    @include mquery.laptop {  
        display: none!important;
    }
}

