@use 'color';
@use 'mquery';
@use 'typo';

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: color.$ambiance-100;
    overflow-x: hidden;
}

main {
    max-width: 2600px;
    margin: auto;
}

// navbar
.navbar {
    background: rgba(38, 22, 36, 0.8);
    backdrop-filter: blur(4px);
    min-height: 80px;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 2600px;
        min-height: 80px;
        margin: auto;

    }

    // media query .navbar
    @include mquery.laptop {    
        background: rgba(38, 22, 36, 0.5);
        transition: background 0.3s ease-in-out;

        &:hover {
            background: rgba(38, 22, 36, 0.8);
        }
    }

    // media query .navbar
    @include mquery.landscape {    
        padding: 0 50px;
    }

    // media query .navbar
    @include mquery.desktop-xl {    
        padding: 0 100px;
    }

    //navbar lorsqu'hamburger = ouvert
    &.active {
        background: #261624;
    }

    // logo nav
    .nav-logo {
        text-decoration: none;
        display: flex;

        img {
            width: 45px;
            height: 45px;
            margin: auto 12px auto 0px;
            transform: scale(1);
            transition: transform 0.3s ease-in-out;
        }

        .logo-txt {

            p {
                font-family: 'Alegreya', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #ffffff;
                margin: 0;
            }

            

        }

        &:hover img {
            transform: scale(1.1);
        }
        
    }

    // trigger menu hamburger mobile
    .nav-toggle {
        display: block;
        cursor: pointer;

        // media query
        @include mquery.laptop {    
            display: none;
        }

        // barres de l'icone hamburger
        .bar {
            display: block;
            width: 40px;
            height: 3px;
            margin: 10px auto;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            background: #ffffff;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(13px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-13px) rotate(-45deg);
        }
    }

    // conteneur éléments nav
    .nav-menu {
        justify-content: space-between;
        align-items: start;
        position: fixed;
        left: 0;
        top: 80px;
        display: none;
        gap: 0;
        flex-direction: column;
        background: #342B33;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;

        // nav-menu lorsqu'hamburger = ouvert
        &.active {
            display: flex;
        }

        // media query .nav-menu
        @include mquery.laptop {   
            position: relative;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            gap: 50px;
            flex-direction: row;
            background: none;
            width: auto;
            text-align: left;
            text-align: center;
        }

        // élément nav
        .nav-item {
            list-style: none;
            margin:0;
            width: 100%;

            // media query
            @include mquery.laptop {  
                width: auto;
            }

            //lien nav
            .nav-link {
                font-family: 'Alegreya', sans-serif;
                font-size: 36px;
                font-weight: 800;
                color: #ffffff;
                text-decoration: none;
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                padding: 30px 30px 0 30px;
                transition: padding 0.1s ease-in-out;
                width: 100%;

                &:hover {
                    padding: 30px 30px 0 35px;
                    color: color.$primary-100;
                }

                // media query
                @include mquery.laptop { 
                    font-family: 'Assistant', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    color: #ffffff;
                    text-transform: none;
                    padding: 0px;
                    transition: padding 0s ease-in-out;

                    &:hover {
                        padding: 0;
                        color: #ffffff;
                    }
                    
                    // effet de soulignage en hover
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 3px;
                        bottom: -3px;
                        left: 0;
                        background-color: color.$primary-100;
                        transform-origin: bottom right;
                        transition: transform 0.4s ease-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
                
            }
        }
    }

}

.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #342B33;

    // nav-overlay lorsqu'hamburger = ouvert
    &.active {
        display: block;
    }

    // media query
    @include mquery.laptop {  
        display: none!important;
    }
}

// footer du site
footer {
    width: 100%;
    padding: 40px 20px;
    background: color.$ambiance-160;
    z-index: 2;
    position: relative; 
    
    // media query footer
    @include mquery.landscape {  
        padding: 40px 40px;
    }

    // media query footer
    @include mquery.desktop-xl {  
        padding: 40px 100px;
    }

    //container du footer
    .footer-container {
        width: 100%;
        max-width: 2600px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        margin: auto;

        // media query footer-container
        @include mquery.landscape {  
            flex-direction: row;
            justify-content: space-between;
        }


        // première colonne du footer
        #footer-col-1 {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            gap: 40px;

            // media query footer-col-1
            @include mquery.landscape {  
                justify-content: start;
                margin-bottom: 0;
            }

            // logo du footer (+ easter egg)
            #foot-logo-box {
                display: none;

                img {
                    width: 135px;
                }

                // media query foot-logo-box
                @include mquery.laptop {  
                    display: flex;
                }
            }

            // séparateur vertical footer
            #foot-hr {
                display: none;
                width: 4px;
                height: 100%;
                background-color: #ffffff;
                background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(0,0,0,0) 100%);

                // media query foot-hr
                @include mquery.laptop {  
                    display: block;
                }
            }

            // infos de contact et réseaux sociaux
            #foot-left-content {

                // titre "contact"
                .left-title {
                    width: 100%;

                    p {
                        @include typo.title($color:#ffffff);
                        font-size: 34px;
                        text-align: center;
                        width: -moz-fit-content;
                        width: fit-content;
                        margin: auto auto 6px auto;

                        // media query texte left-title
                        @include mquery.landscape {  
                            text-align: left;
                            margin: auto 0 6px 0;
                            font-weight: 500;
                        }

                        // media query texte left-title
                        @include mquery.laptop {  
                            font-size: 26px;
                        }
                    }
                }

                // email + bouton copier
                .contact-mail {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 25px;

                    p {
                        @include typo.text($color:#ffffff);
                        font-size: 20px;
                        font-weight: 500;
                        margin: 0;

                        // media query
                        @include mquery.phone {
                            font-size: 18px;
                        }
                    }

                    .copy-button {
                        position: relative;
                        width: 21px;
                        height: 21px;
                        margin: auto 0 auto 8px;
                        background-image: url('/assets/svg/ico-copyto-blanc.svg');
                        cursor: pointer;

                        &:hover {
                            background-image: url('/assets/svg/ico-copyto-primary.svg');
                        }
                    }

                    .copy-message {
                        position: absolute;
                        width: 49px;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        top: -28px;
                        @include typo.text($color:color.$primary-100);
                        font-size: 16px!important;
                        font-weight: 600;
                        display: none;

                        // media query
                        @include mquery.tablet {  
                            top: 50%;
                            left: auto;
                            transform: translate(0%, -50%);
                            right: -55px;
                        }
                    }

                    .copied-msg {
                        display: block;
                    }

                    .copied-img {
                        background-image: url('/assets/svg/ico-copyto-primary.svg');
                    }
                }

                //icones réseaux sociaux
                .social-icons {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 30px;

                    // media query social icons
                    @include mquery.landscape {  
                        gap: 15px;
                    }

                    // media query foot-hr
                    @include mquery.landscape {  
                        justify-content: left;
                    }

                    a {
                        width: 50px;
                        height: 50px;

                        // media query icones reseau footer
                        @include mquery.landscape {  
                            width: 40px;
                            height: 40px;
                        }
                    }

                    #social-ico-1 {
                        background: url("/assets/svg/ico-linkedin-blanc.svg");

                        &:hover {
                            background: url("/assets/svg/ico-linkedin-primary.svg");
                        }
                    }

                    #social-ico-2 {
                        background: url("/assets/svg/ico-instagram-blanc.svg");

                        &:hover {
                            background: url("/assets/svg/ico-instagram-primary.svg");
                        }
                    }

                    #social-ico-3 {
                        background: url("/assets/svg/ico-github-blanc.svg");

                        &:hover {
                            background: url("/assets/svg/ico-github-primary.svg");
                        }
                    }
                }

            }
        }

        // deuxième colonne du footer
        #footer-col-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;

            // media query footer-col-2
            @include mquery.landscape {  
                justify-content: end;
            }

            //lien des mentions légales
            #legal-link {
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: -moz-fit-content;
                width: fit-content;
                margin: 0 auto 40px auto;
                position: relative;
                text-decoration: none;

                // media query #legal-link
                @include mquery.landscape {  
                    margin: 0 0 20px auto;
                }

                // chevron gauche lien mentions légales
                .left-chevron {
                    display: flex;
                    transform: translateX(0px);
                    transition: all 0.5s ease;

                    span {
                        display: flex;
                        transform: rotate(45deg);
                        border-right: 2px solid white;
                        border-top: 2px solid white;
                        margin: auto;
                        width: 11px;
                        height: 11px;
                    }
                }

                &:hover .left-chevron {
                    transform: translateX(-3px);
                }

                &:hover .left-chevron span {
                    border-color: color.$primary-100;
                }

                // chevron droite lien mentions légales (mobile uniquement)
                .right-chevron {
                    display: flex;
                    transition: all 0.5s ease;

                    // media query span crochet mentions légales
                    @include mquery.landscape {  
                        display: none;
                    }

                    span {
                        display: flex;
                        transform: rotate(45deg);
                        border-left: 2px solid white;
                        border-bottom: 2px solid white;
                        margin: auto;
                        width: 11px;
                        height: 11px;
                    }
                }

                &:hover .right-chevron {
                    transform: translateX(3px);
                }

                &:hover .right-chevron span {
                    border-color: color.$primary-100;
                }

                .legal-txt {
                    @include typo.text($color:#ffffff);
                    font-size: 20px;
                    margin: 0px auto 2px auto;
                }

                &:hover .legal-txt {
                    color: color.$primary-100;
                }

            }

            //textes copyright et droits réservés
            p {
                @include typo.text($color:#ffffff);
                font-size: 18px;
                width: -moz-fit-content;
                width: fit-content;
                margin: 0 auto 5px auto;

                // media query texte footer col-2
                @include mquery.landscape {  
                    margin: 0 0 5px auto;
                }

                // texte en gras
                span {
                    font-weight: 700;
                }
            }
        
        }

    }

    

    
}

// module pour précharger des fonts pour effet de hover
.font-preloader {
    opacity: 0;
    position: absolute;
    z-index: -1000;
    left: 0;
    top: 0px;
}

// personnalisation du highlight texte
//code firefox
::-moz-selection {
    color: #ffffff;
    background: color.$primary-100;
}
  
::selection {
    color: #ffffff;
    background: color.$primary-100;
}

//fond des blobs décoratifs
.blob-shape {
    position: absolute;
    -webkit-mask-size: cover;
    mask-size: cover;
    background: url("/assets/svg/blob-tile-01.svg");
    background-size: 20px;
    background-repeat: repeat;
    z-index: 1;
}

.blob-type-01 {
    -webkit-mask: url("/assets/svg/blob-shape-01.svg") no-repeat 50% 50%;
    mask: url("/assets/svg/blob-shape-01.svg") no-repeat 50% 50%;
}

.blob-type-02 {
    -webkit-mask: url("/assets/svg/blob-shape-02.svg") no-repeat 50% 50%;
    mask: url("/assets/svg/blob-shape-02.svg") no-repeat 50% 50%;
}

.blob-type-03 {
    -webkit-mask: url("/assets/svg/blob-shape-03.svg") no-repeat 50% 50%;
    mask: url("/assets/svg/blob-shape-03.svg") no-repeat 50% 50%;
}
