@use 'color';
@use 'mquery';

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: color.$ambiance-100;
}

main {
    max-width: 2600px;
    margin: auto;
}

// navbar
.navbar {
    background: rgba(38, 22, 36, 0.8);
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    //navbar lorsqu'hamburger = ouvert
    &.active {
        background: #261624;
    }

    // logo nav
    .nav-logo {
        text-decoration: none;
        display: flex;

        img {
            width: 20px;
            height: 20px;
            background: #ffffff;
        }

        .logo-txt {

            p {
                font-family: 'Alegreya', sans-serif;
                font-weight: 700;
                font-size: 22px;
                color: #ffffff;
                margin: 0;
            }
        }
        
    }

    // trigger menu hamburger mobile
    .nav-toggle {
        display: block;
        cursor: pointer;

        // media query
        @include mquery.laptop {    
            display: none;
        }

        // barres de l'icone hamburger
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            background: #ffffff;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    // conteneur éléments nav
    .nav-menu {
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;
        top: 80px;
        display: none;
        gap: 0;
        flex-direction: column;
        background: #342B33;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;

        // nav-menu lorsqu'hamburger = ouvert
        &.active {
            display: flex;
        }

        // media query
        @include mquery.laptop {   
            position: relative;
            left: 0;
            top: 0;
            display: flex;
            gap: 50px;
            flex-direction: row;
            background: none;
            width: auto;
            text-align: left;
        }

        // élément nav
        .nav-item {
            list-style: none;
            margin: 16px 0;

            // media query
            @include mquery.laptop {  
                margin: 0;
            }

            //lien nav
            .nav-link {
                font-family: 'Assistant', sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: #ffffff;
                text-decoration: none;

            }
        }
    }

}

.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #342B33;

    // nav-overlay lorsqu'hamburger = ouvert
    &.active {
        display: block;
    }

    // media query
    @include mquery.laptop {  
        display: none!important;
    }
}

