@use 'color';
@use 'mquery';
@use 'typo';
@use 'global';

:root {
    //couleur de fond de la page
    --fond-page-projet: #{color.$ambiance-100};

    // fond et couleur de texte des encarts gros titres du header et des sections du projet
    --fond-titre-projet: #{color.$secondary-100};
    --couleur-titre-projet: #ffffff;

    // couleur des paragraphes de texte
    --couleur-texte-projet: #ffffff;

    // couleur distinctive du projet, utilisée sur les boutons, bullet points, petits titres...
    --couleur-focus-projet: #{color.$primary-100};
    --couleur-focus-bis-projet: #{color.$primary-120};

    // couleur des éléments en opposition avec le fond (bloc blanc sur fond sombre par ex)
    --couleur-contraste-projet: #ffffff;

    // couleur lignes de séparation entre des éléments
    --couleur-ligne-projet: #{color.$ambiance-80};
}

body {
    background: var(--fond-page-projet);
}

main {
    min-height: 90vh;
}

// --------------- Section de l'image d'en-tête et du titre du projet ---------------
#Header_projet {
    position: relative;
    z-index: 5;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 100px 35px 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../svg/pattern-proj-header-placeholder-01.svg");
    background-repeat: repeat;
    background-size: 145px;
    background-position: center;
    box-shadow: 0 8px 25px 0 rgba(216, 214, 216, 0.2);
    transition: height 800ms ease;

    // media query header page
    @include mquery.laptop {   
        padding: 130px 35px 20px 35px;
        transition: height 500ms ease;
        margin-bottom: 100px;
    }

    &.header-scrolled {
        height: 400px;
    }

    // Titre du projet
    #Titre_page {
        @include typo.special-title($color:var(--couleur-titre-projet), $weight:800);
        font-size: 42px;
        text-align: center;
        line-height: 1.3;
        margin: auto;
        padding: 18px 30px 24px 30px;
        background: var(--fond-titre-projet);
        transition: font-size 800ms ease, transform 800ms ease;

        // media query #Titre_page
        @include mquery.laptop {   
            font-size: 58px;
            transition: font-size 500ms ease, transform 500ms ease;
        }

        // media query #Titre_page
        @include mquery.tv {   
            font-size: 90px;
        }

        &.header-titre-scrolled {
            transform: translateY(110px);

            // media query #Titre_page
            @include mquery.laptop { 
                transform: translateY(80px);  
                font-size: 42px;
            }

            // media query #Titre_page
            @include mquery.tv {   
                font-size: 60px;
            }
        }
    }

    // Bouton pour scroller le header vers le bas
    #Scroll_btn_header {
        position: relative;
        display: flex;
        min-width: 50px;
        width: 50px;
        height: 50px;
        min-height: 50px;
        border-radius: 50px;
        background: #ffffff;
        cursor: pointer;
        margin-bottom: 100px;
        transition: transform 800ms ease, box-shadow 200ms linear;
        box-shadow: 0px 0px 18px 0 rgba(255, 255, 255, 0.15);

        // media query bouton scroll du header
        @include mquery.laptop {
            transition: transform 500ms ease, box-shadow 200ms linear;   
            margin-bottom: 50px;
        }

        &:hover {
            box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.30);
        }

        &.header-btn-scrolled {
            transform: translateY(250px);
        }

        .scroll-btn-header-icon {
            display: block;
            content: '';
            background-image: url("../svg/ico-fleche-scroll-amb100.svg");
            background-position: center;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin: auto;
            transition: transform 200ms ease;
            animation: 1s linear infinite anim-scroll-header-btn;
        }

        @keyframes anim-scroll-header-btn {
            0% {
                transform: translateY(0px);
            }

            20% {
                transform: translateY(-1px);
            }

            80% {
                transform: translateY(1px);
            }

            100% {
                transform: translateY(0px);
            }
        }

        &:hover .scroll-btn-header-icon {
            animation: 0;
            transform: translateY(2px);
        }
    }
}

// --------------- Module sommaire ---------------
#Sommaire {
    display: block;
    z-index: 4;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    transform: translateY(100%) translateY(-58px);
    background: rgba(25, 5, 23, 0.9);
    backdrop-filter: blur(4px);
    box-shadow: 0px -4px 10px 0px rgba(166, 156, 164, 0.12);
    border-radius: 20px 20px 0px 0px;
    transition: transform 300ms ease, box-shadow 400ms ease-out;

    // media query #Sommaire
    @include mquery.landscape { 
        bottom: auto;
        top: 100px;
        left: 10px;
        transform: translate(0, 0);
        width: -moz-fit-content;
        width: fit-content;
        border-radius: 20px;
        background: rgba(25, 5, 23, 0.8);
        box-shadow: none;
    }

    // media query #Sommaire
    @include mquery.laptop {
        top: 140px;
        left: 20px;
    }


    // media query #Sommaire
    @include mquery.tv {
        left: 12vw;
    }

    // Barre en haut du sommaire sur mobile
    #Sommaire_top_bar_mobile {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding: 12px 0 0 0;
        cursor: pointer;
        border-radius: 20px 20px 0 0;
        transition: background-color 400ms ease-out;

        // media query #Sommaire_top_bar_mobile
        @include mquery.landscape { 
            display: none;
        }

        // Petite poignée blanche en haut
        .top-mob-handle {
            width: 30px;
            height: 4px;
            border-radius: 50px;
            background: #ffffff;
        }

        // Texte indicatif
        .top-mob-txt {
            margin: 8px auto 10px auto;

            // Placé dans un before pour pouvoir le changer en CSS directement
            &::before {
                content: 'Afficher le sommaire';
                @include typo.title($color:#ffffff, $weight:700);
                font-size: 18px;
                text-align: center;
            }
        }

        // Trait de séparation
        .top-mob-sep {
            width: 100%;
            height: 2px;
            background-color: color.$primary-100;
            opacity: 0;
        }

    }

    // Barre en haut du sommaire sur desktop
    #Sommaire_top_bar_desktop {
        position: relative;
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;

        // media query #Sommaire_top_bar_desktop
        @include mquery.landscape { 
            display: flex;
        }

        // Bouton icone qui masque ou affiche le sommaire sur desktop
        #Sommaire_switch_desktop {
            width: 30px;
            height: 30px;
            padding: 30px;
            background-color: transparent;
            background-image: url(../svg/ico-sommaire-contour-blanc.svg);
            background-position: center;
            background-size: 30px;
            background-repeat: no-repeat;
            cursor: pointer;
            border-radius: 20px;

            // Code pour contrer style auto bouton
            display: block;
            border: none;

            &:hover {
                background-color: color.$primary-100;
                background-image: url(../svg/ico-sommaire-full-blanc.svg);
            }
        }

        .top-desk-wrapper {
            display: none;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            width: calc(100% - 60px);
            gap: 8px;
        }

        // Icone qui accompagne le titre
        .top-desk-titre-ico {
            width: 30px;
            height: 30px;
            background-image: url("../svg/ico-sommaire-full-blanc.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        // Titre sommaire
        .top-desk-titre {
            @include typo.title($color:#ffffff, $weight:800);
            font-size: 28px;
            margin: 0;
        }


        
    }

    // Conteneur des liens du sommaire
    #Sommaire_link_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
        padding: 12px 20px 40px 20px;
        gap: 6px;
        transition: background-color 400ms ease-out;
        max-height: 90vh;
        overflow: auto;

        // media query #Sommaire_link_wrapper
        @include mquery.tablet {
            padding: 12px 40px 40px 40px;
        }

        // media query #Sommaire_link_wrapper
        @include mquery.landscape { 
           display: none;
           max-height: auto;
        }

        // Lien sommaire
        .som-link {
            @include typo.title($color:#ffffff, $weight:500);
            font-size: 22px;
            padding-top: 3px;
            padding-bottom: 3px;
            text-decoration: none;

            &:hover {
                color: color.$primary-100;
            }

            &.current-link {
                color: color.$primary-100!important;
            }

            // media query .som-link
            @include mquery.landscape { 
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }

        // Lien de sous-partie
        .som-sub-link {
            @include typo.title($color:#ffffff, $weight:400);
            font-size: 20px;
            padding-left: 25px;
        }
    }

    // ----- Règles lorsque le sommaire est visible/ouvert -----
    &.show-sommaire {
        transform: translateY(0px);


        // Barre en haut du sommaire sur mobile
        #Sommaire_top_bar_mobile {

            // Texte indicatif mobile
            .top-mob-txt {

                // Placé dans un before pour pouvoir le changer en CSS directement
                &::before {
                    content: 'Masquer le sommaire';
                }
            }

            // Trait de séparation
            .top-mob-sep {
                opacity: 1;
            }
        }
        
        

        // Règles sur desktop
        @include mquery.landscape { 
            width: 330px;

            // Barre en haut du sommaire sur desktop
            #Sommaire_top_bar_desktop {
                padding: 15px 20px 10px 20px;

                // Bouton icone qui masque ou affiche le sommaire sur desktop
                #Sommaire_switch_desktop {
                    background-image: url(../svg/ico-fleche-blanc.svg);
                    padding: 0px;

                    &:hover {
                        background-color: transparent;
                        background-image: url(../svg/ico-fleche-primary100.svg);
                    }
                }

                .top-desk-wrapper {
                    display: flex;
                }

            }

            // Conteneur des liens du sommaire
            #Sommaire_link_wrapper {
                display: flex;
            }

        }//Fin media query laptop
    }

}

// Animation pour attirer le regarde au sommaire
#Sommaire.eyecatch-anim {
    box-shadow: 0px -5px 28px 0px rgba(166, 156, 164, 0.2);

    @keyframes eyecatchmobile-old {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes eyecatchmobile {
        0% {
            background: rgba(25, 5, 23, 0.9);
        }

        50% {
            background: color.$ambiance-80;
        }

        100% {
            background: rgba(25, 5, 23, 0.9);
        }
    }

    @keyframes eyecatchdesk {
        0% {
            background: rgba(25, 5, 23, 0.9);
        }

        50% {
            background: color.$primary-100;
        }

        100% {
            background: rgba(25, 5, 23, 0.9);
        }
    }

    #Sommaire_top_bar_mobile {
        animation: eyecatchmobile 1s ease-out infinite;
        
    }

    // Sur desktop
    @include mquery.landscape {
        box-shadow: none;
        animation: eyecatchdesk 1s ease-out infinite;
    }
    
}



// Overlay sommaire pour version mobile
#Overlay_sommaire {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: rgb(0, 0, 0, 0.5);

    &.show-overlay {
        display: block;

        // media query overlay sommaire
        @include mquery.landscape {
            display: none;
        }
    }

}

// Bloquer le scroll quand l'overlay est actif
.no-scroll {
    overflow: hidden;

    // media query .no-scroll
    @include mquery.landscape {
        overflow: auto;
    }
}

// Classe pour masquer le sommaire entièrement en début de page
#Sommaire.mask-sommaire {
    display: none!important;
    
}

// --------------- Styles partagés des sections ---------------

// Bloc section
.section-projet {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px 200px 30px;
    scroll-margin-top: 140px;

    // media query bloc section
    @include mquery.laptop {
        flex-direction: row;
        flex-wrap: wrap;   
        max-width: 912px;
        padding: 0 0 280px 0;
    }

    // media query bloc section
    @include mquery.desktop-xl { 
        max-width: 1160px;
    }
}

.section-bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 150px;

    // media query .section-bloc
    @include mquery.laptop {
        margin-bottom: 180px;    

    }

    &:last-of-type {
        margin-bottom: 0px;
    }

}

.section-ligne {
    --gap-section: 30px;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
    justify-content: space-between;

    // media query .section-ligne
    @include mquery.landscape {
        flex-direction: row;
        flex-wrap: wrap;  
        
    }

    // media query .section-ligne
    @include mquery.laptop {
        --gap-section: 60px; 

    }

    // media query .section-ligne
    @include mquery.desktop-xl { 
        --gap-section: 100px;

    }

}

.section-colonne {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

// colonne 100% section
.full-col {
    width: 100%;
}

// demi-colonne section
.demi-col {
    width: 100%;

    // media query demi-colonne
    @include mquery.landscape {   
        width: calc(50% - var(--gap-section)/2);
    }
}

// tiers-colonne section
.tiers-col {
    width: 100%;

    // media query .tiers-col
    @include mquery.landscape {   
        width: calc(33% - var(--gap-section)/1.5);
    }
}

.no-gap {
    gap: 0!important;
}

// Titres au début de chaque section
.titre-section {
    @include typo.title($color:var(--couleur-titre-projet), $weight:800);
    font-size: 34px;
    text-align: center;
    background: var(--fond-titre-projet);
    width: 100%;
    margin: 0;
    padding: 22px 15px 20px 15px;
}

// Sous-titres intermédiaires au sein des sections
.titre-secondaire-section {
    @include typo.title($color:var(--couleur-focus-projet), $weight:700);
    font-size: 30px;
    width: 100%;
    margin: 0;
    line-height: 1;

    // media query .titre-secondaire-section
    @include mquery.landscape {   
        font-size: 34px;
    }
}

// Phrase importante mise en valeur
.phrase-forte {
    @include typo.title($color:var(--couleur-texte-projet), $weight:700);
    font-size: 26px;
    margin: 0;

    // media query .phrase-forte
    @include mquery.laptop {   
        font-size: 28px;
    }

    // media query .phrase-forte
    @include mquery.desktop-xl {   
        font-size: 32px;
    }
}

// Paragraphes de texte de base
.bloc-texte {
    display: flex;
    flex-direction: column;
    gap: 15px;

    // media query conteneur paragraphes
    @include mquery.desktop-xl {   
        gap: 18px;
    }
}

.bloc-texte *{
    @include typo.text($color:var(--couleur-texte-projet), $weight:400);
    font-size: 18px;
    margin: 0;

    // media query paragraphes de texte
    @include mquery.laptop {   
        font-size: 20px;
    }

    // media query paragraphes de texte
    @include mquery.desktop-xl {   
        font-size: 22px;
    }
}


// Listes à puces
.liste-puce-projet {
    margin: 0;
    padding-inline-start: 20px;
    list-style: none;

    li {
        position: relative;
        @include typo.text($color:var(--couleur-texte-projet), $weight:400);
        font-size: 18px;
        margin: 0 0 14px 0;

        &::before {
            content: "";
            height: 7px;
            width: 7px;
            position: absolute;
            top: 0.5em;
            left: -18px;
            transform: rotate(-45deg);
            background: var(--couleur-focus-projet);
        }
    }

    li:last-of-type {
        margin: 0;
    }

}

// Ligne de séparation visuelle
.sep-ligne {
    width: 100%;
    height: 2px;
    background: color.$ambiance-80;
}

.focus-color {
    color: var(--couleur-focus-projet);
}

// --------------- Blocs cadres ---------------

// Parent regroupant tous les éléments d'une zone cadre (version mobile, desktop, légende...)
.bloc-cadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

// Cadre mobile contenant une vidéo ou une maquette
.cadre-mobile {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 280px;
    aspect-ratio: 9 / 16;
    outline: 4px solid color.$ambiance-120;
    border-radius: 20px;
    box-shadow: 0px -10px 40px 0px rgba(166, 156, 164, 0.25);
    overflow: hidden;
    background: color.$ambiance-120;

    // media query .cadre-mobile
    @include mquery.landscape {   
        max-width: 300px;
    }

    // media query .cadre-mobile
    @include mquery.laptop {   
        max-width: 340px;
    }

    // Affichage .cadre-mobile
    &.switch-off-cadre { 

        // media query pour masquer sur desktop, si non switché
        @include mquery.laptop {   
            display: none;
        }

    }

    // Instructions complémentaires .cadre-instruction-tag mobile
    .cadre-instruction-tag {
        // media query .cadre-instruction-tag
        @include mquery.laptop {   
            top: 50%;
            bottom: auto;
            transform: translate(-50%, -50%);

        }
    }
}

// Cadre desktop contenant une vidéo ou une maquette
.cadre-desktop {
    position: relative;
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 1160px;
    aspect-ratio: 16 / 9;
    outline: 4px solid color.$ambiance-120;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 0px -10px 40px 0px rgba(166, 156, 164, 0.25);
    overflow: hidden;
    background: color.$ambiance-120;

    // Affichage .cadre-mobile
    &.switch-off-cadre { 
        display: none;
    }

    // media query .cadre-desktop
    @include mquery.laptop {   
        display: flex;
    }

    // Instructions complémentaires .cadre-instruction-tag desktop
    .cadre-instruction-tag {
        // media query .cadre-instruction-tag
        @include mquery.laptop {   
            max-width: 345px;
            min-height: 70px;
            top: 50%;
            bottom: auto;
            transform: translate(-50%, -50%);

            // icone dans l'étiquette
            .inst-tag-ico {
                width: 40px;
                height: 40px;
                margin-right: 5px;
            }

             // conteneur du texte de l'étiquette
            .inst-tag-txt {
                font-size: 28px;
            }

        }
    } 

}

// Fausse top-bar de navigateur sur les cadres desktop
.navibar-cadre-desk {
    width: 100%;
    min-height: 30px;
    background: color.$ambiance-120;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    // Section gauche de la fausse barre
    .navivar-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-left: 4px;
        align-items: end;
    }

    // Faux onglets
    .navibar-tab {
        width: 150px;
        height: 26px;
        border-radius: 30px 30px 0px 0px;
        background: color.$ambiance-80;
        position: relative;
        z-index: 2;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 70%;
            height: 100%;
            border-radius: 4px 0 0 0;
            transform: skewX(-20deg);
            background-color: inherit;
            z-index: -1;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0; right: 0;
            width: 70%;
            height: 100%;
            border-radius: 0 4px 0 0;
            transform: skewX(20deg);
            background-color: inherit;
            z-index: -1;
        }

        &:nth-child(2) {
            background: color.$ambiance-100;
            z-index: 1;
            margin-left: 5px;
        }
    }

    // Section droite de la fausse barre
    .navivar-right {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-right: 15px;
        align-items: center;
        gap: 12px;
    }

    // Fausses icones d'actions de la fenetre du navigateur
    .navibar-ico {
        width: 15px;
        height: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url("../svg/ico-navibar-reduire.svg");
        }

        &:nth-child(2) {
            background-image: url("../svg/ico-navibar-agrandir.svg");
        }

        &:nth-child(3) {
            background-image: url("../svg/ico-navibar-fermer.svg");
        }
    }
}


// Étiquette d'instruction présente dans les cadres desktop et mobile
.cadre-instruction-tag {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.25);
    width: max-content;
    max-width: 270px;
    min-height: 60px;
    padding: 14px 10px;
    border-radius: 10px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 400ms ease-out;
    animation: pulse-tag-background 4s linear infinite;

    // media query .cadre-instruction-tag
    @include mquery.landscape {   
        max-width: 290px;
    }

    // media query .cadre-instruction-tag
    @include mquery.desktop {   
        max-width: 320px;
    }



    //animation de la couleur de fond de .cadre-instruction-tag
    @keyframes pulse-tag-background {
        0% {
            background: rgba(255, 255, 255, 0.6);
        }

        50% {
            background: rgba(255, 255, 255, 1);
        }

        100% {
            background: rgba(255, 255, 255, 0.6);
        } 
    }

    &.fade-out-tag {
        opacity: 0;
    }

    // icone dans l'étiquette
    .inst-tag-ico {
        width: 32px;
        height: 32px;
        background-image: url("../svg/ico-main-gesture-amb120.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 5px;
        transform: translate(0, 0);
        animation: scroll-gesture-mob 1.5s linear infinite;

        // media query .inst-tag-ico
        @include mquery.laptop {   
            background-image: url("../svg/ico-souris-gesture-amb120.svg");
            animation: scroll-gesture-desk 2s linear infinite;
        }

    }

    //animation sur mobile .inst-tag-ico
    @keyframes scroll-gesture-mob {
        0%, 20% {
            transform: translate(0%, 0%) rotate(0deg);
        }

        30% {
            transform: translate(0%, -3%) rotate(0deg);
        }

        50%, 60% {
            transform: translate(0%, 12%) rotate(-5deg);
        }

        80%, 100% {
            transform: translate(0%, 0%) rotate(0deg);
        } 
    }

    //animation sur ordi .inst-tag-ico
    @keyframes scroll-gesture-desk {
        0%, 20% {
            transform: translate(0%, 0%) rotate(0deg);
        }

        30% {
            transform: translate(0%, -5%) rotate(0deg);
        }

        50%, 60% {
            transform: translate(0%, 8%) rotate(0deg);
        }

        80%, 100% {
            transform: translate(0%, 0%) rotate(0deg);
        } 
    }

    // conteneur du texte de l'étiquette
    .inst-tag-txt {
        @include typo.title($color:color.$ambiance-120, $weight:800);
        font-size: 22px;
        text-align: left;

        // caractères de texte
        &::before {
            content: 'Scrollez pour découvrir';
        }

    }
}

// Variante de .cadre-instruction-tag quand scroll est bloqué
.prevent-scrolling .cadre-instruction-tag {

    // Ne pas prendre en compte sur ordi
    @media (max-width: 768px) {
        opacity: 1!important;


        // Icone
        .inst-tag-ico { 
            animation: double-tap-gesture-mobile 2s linear infinite;
    
            // media query icone
            @include mquery.laptop {   
                animation: double-tap-gesture-desk 2s linear infinite;
            }
        }
    
        //animation dévérouillage sur mobile pour .inst-tag-ico
        @keyframes double-tap-gesture-mobile {
            0%, 20% {
                transform: scale(1) rotate(0deg);
            }
    
            30% {
                transform: scale(1) rotate(0deg);
            }
    
            40%, 45% {
                transform: scale(0.9) rotate(5deg);
            }
    
            50%, 55% {
                transform: scale(1) rotate(0deg);
            }
    
            60%, 65% {
                transform: scale(0.9) rotate(5deg);
            }
    
            80%, 100% {
                transform: scale(1) rotate(0deg);
            } 
        }
    
        //animation dévérouillage pour .inst-tag-ico
        @keyframes double-tap-gesture-desk {
            0%, 20% {
                transform: scale(1);
            }
    
            30% {
                transform: scale(1);
            }
    
            40%, 45% {
                transform: scale(0.9);
            }
    
            50%, 55% {
                transform: scale(1);
            }
    
            60%, 65% {
                transform: scale(0.9);
            }
    
            80%, 100% {
                transform: scale(1);
            } 
        }
    
        // conteneur du texte de l'étiquette
        .inst-tag-txt {
            font-size: 22px;
    
            // caractères de texte
            &::before {
                content: 'Appuyez deux fois';
    
                // media query
                @include mquery.laptop {   
                    content: 'Double cliquez';
                }
            }
    
        }

    }


}

// Bouton pour permutter entre les versions mobiles et desktop d'un cadre
.switch-cadre {
    width: 100%;
    max-width: 340px;
    min-height: 55px;
    background: #F6F6F6;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 11px 9px 0px rgb(0, 0, 0, 0.2) inset;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    cursor: pointer;
    display: none;

    // media query .switch-cadre
    @include mquery.laptop {   
        display: flex;
    }

    // Version mobile affichée
    &.switch-to-desktop {
        max-width: 305px;

        // Changement texte
        .switch-cadre-txt {

            &::before {
                content: 'Voir version ordinateur';
            }
        }
    }

    // Icone
    .switch-cadre-ico {
        width: 30px;
        height: 30px;
        background-image: url("../svg/ico-fleche-rotative.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 10px;
        transform: rotate(0deg);
        transition: transform 200ms ease-in-out;
    }

    &:hover .switch-cadre-ico {
        transform: rotate(90deg);
        background-image: url("../svg/ico-fleche-rotative-primary.svg");
    }

    // Conteneur du texte
    .switch-cadre-txt {
        @include typo.text($color:color.$base-text, $weight:600);
        font-size: 20px;
        margin: 0;

        &::before {
            content: 'Voir version mobile';
        }

    }

    &:hover .switch-cadre-txt {
        color: color.$primary-100;
    }

}

// Conteneur intermédiaire pour gérer l'intérieur du cadre si besoin
.cadre-content-wrapper {
    overflow-y: auto;
    overscroll-behavior: contain;

    // Fixe la petite marge fantôme en bas quand le scroll est actif
    margin-bottom: -5px;

    // Contenu image du wrapper
    .cadre-img-content, .cadre-img-content * {
        //nécessaire pour le vérouillage mobile
        pointer-events: none;
        -webkit-user-select: none;
	    user-select: none;

    }

}

// Variante de .cadre-content-wrapper quand scroll est bloqué
.prevent-scrolling .cadre-content-wrapper {

    // Ne pas prendre en compte sur ordi
    @media (max-width: 768px) {
        overflow-y: hidden;
    }
    
}

// Video dans un cadre
.bloc-video {
    width: 100%;
    height: auto;
}

.bloc-visuel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.legende-visuel {
    @include typo.title($color:#ffffff, $weight:400);
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: 30px;

    // media query .legende-visuel
    @include mquery.laptop {   
        font-size: 22px;
    }

    a {
        color: var(--couleur-focus-projet);
        text-decoration: none;

        &:hover {
            color: var(--couleur-focus-bis-projet);
        }
    }
}

// --------------- Style des éléments post-it ---------------

// Conteneur post-it
.post-it-wrapper {
    --post-it-size:130px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(var(--post-it-size)*2 + 30px);
    justify-content: start;
    gap: 30px;

    // media query .post-it-wrapper
    @include mquery.tablet {
        --post-it-size:166px;
    }

    // media query .post-it-wrapper
    @include mquery.landscape {
        max-width: calc(var(--post-it-size)*3 + 60px);
    }

    // media query .post-it-wrapper
    @include mquery.laptop {   
        max-width: 100%;
        gap: calc((912px - var(--post-it-size) * 5) / 4);
    }

    // media query .post-it-wrapper
    @include mquery.desktop-xl {   
        --post-it-size:200px;

        gap: calc((1160px - var(--post-it-size) * 5) / 4);
    }

    // Élement parent post-it
    .post-it-bloc {
        width: var(--post-it-size);
        height: var(--post-it-size);
        background: #FFD966;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

}

// Bande décorative colle post-it
.post-it-header {
    display: none;
    background: #FFDF7E;
    height: 28px;
    width: 100%;

    // media query .post-it-header
    @include mquery.tablet {   
        display: block;
    }
    
}

// Contenu texte du post-it
.post-it-text {
    @include typo.title($color:#242424, $weight:700);
    font-size: 15px;
    padding: 10px;
    margin: 0;

    // media query .post-it-text
    @include mquery.tablet {   
        font-size: 18px;
    }

    // media query .post-it-text
    @include mquery.desktop-xl {   
        font-size: 22px;
    }
}

// Media query special pour post-it sur petit mobile
@media (max-width: 350px) {

    .post-it-bloc {
        width: 100%!important;
    }

    .post-it-header {
        display: block!important;
    }

    .post-it-text {
        font-size: 18px!important;
    }

}

// Languette blanche qui contient les outils utilisés pour une section
.outil-languette {
    width: 100%;
    background: #F6F6F6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0 0 50px 50px;
    box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 18px 20px 20px 20px;
    gap: 20px;
    align-items: center;

    // media query .outil-languette
    @include mquery.tablet {   
        padding: 18px 25px 20px 25px;
    }

    // media query .outil-languette
    @include mquery.landscape {   
        border-radius: 50px;
        padding: 18px 20px 17px 20px;
        box-shadow: none;
        width: -moz-fit-content;
        width: fit-content;
    }

    // media query .outil-languette
    @include mquery.laptop {   
        padding: 14px 25px 13px 25px;
    }



    // Conteneur des ronds d'outils
    .outil-blob-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 18px;
    }

    // Texte languette outil
    .outil-txt {
        @include typo.title($color:#242424, $weight:700);
        font-size: 20px;
        margin: 0;

        // media query .outil-txt
        @include mquery.phone {   
            font-size: 18px;
        }

        // media query .outil-txt
        @include mquery.laptop {   
            font-size: 23px;
        }
    }

    // Cercle représentant un outil
    .outil-blob {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url("../img/outil-logo-placeholder.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50px;
        transition: outline 150ms ease;
        outline: 0px solid var(--couleur-focus-projet);
        cursor: help;

        &:hover {
            outline: 5px solid var(--couleur-focus-projet);
        }

        &::before {
            content: 'Nom outil';
            position: absolute;
            top: -58px;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            padding: 6px 10px;
            background: color.$ambiance-120;
            @include typo.title($color:#ffffff, $weight:700);
            font-size: 20px;
            outline: 2px solid var(--couleur-focus-projet);
            opacity: 0;
        }

        &::after {
            content: '';
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            width: 16px;
            height: 16px;
            background: color.$ambiance-120;
            border-top: 0px solid var(--couleur-focus-projet);
            border-right: 3px solid var(--couleur-focus-projet);
            border-bottom: 3px solid var(--couleur-focus-projet);
            border-left: 0px solid var(--couleur-focus-projet);
            -webkit-mask-image: url("/assets/mask/mask-triangle-etiquette.svg");
            mask-image: url("/assets/mask/mask-triangle-etiquette.svg");
            opacity: 0;
        }

        &:hover::before, &:hover::after {
            opacity: 1;
        }

        // media query .outil-blob
        @include mquery.laptop {   
            width: 50px;
            height: 50px;
        }

    }

    // Adobe Illustrator
    .outil-blob.outil-illustrator {
        background-image: url("../img/outil-logo-illustrator.png");

        &::before {
            content: 'Adobe Illustrator';
        }

    }

    // Adobe Photoshop
    .outil-blob.outil-photoshop {
        background-image: url("../img/outil-logo-photoshop.png");

        &::before {
            content: 'Adobe Photoshop';
        }

    }

    // Figma
    .outil-blob.outil-figma {
        background-image: url("../img/outil-logo-figma.png");

        &::before {
            content: 'Figma';
        }

    }

    // Git
    .outil-blob.outil-git {
        background-image: url("../img/outil-logo-git.png");

        &::before {
            content: 'Git';
        }

    }

    // Visual Studio Code
    .outil-blob.outil-vscode {
        background-image: url("../img/outil-logo-vscode.png");

        &::before {
            content: 'Visual Studio Code';
        }

    }
}

// Phrase illustrée par un emoji
.bloc-emoji-phrase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    // media query .bloc-emoji-phrase
    @include mquery.tablet {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
    }

    // media query .bloc-emoji-phrase
    @include mquery.landscape {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    // media query .bloc-emoji-phrase
    @include mquery.laptop {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .emoji {
        min-width: 62px;
        width: 62px;
        min-height: 62px;
        height: 62px;
        margin: 0;

        // media query .emoji
        @include mquery.tablet {
            padding-bottom: 10px;
        }

        // media query .emoji
        @include mquery.landscape {
            padding-bottom: 0px;
        }

        // media query .emoji
        @include mquery.laptop {
            padding-bottom: 10px;
            min-width: 68px;
            width: 68px;
            min-height: 68px;
            height: 68px;
        }
    }

    .phrase-illustrative {
        @include typo.title($color:var(--couleur-texte-projet), $weight:700);
        font-size: 20px;
        margin: 0;
        width: 100%;

        // media query .phrase-illustrative
        @include mquery.tablet {
            font-size: 24px;
        }

        // media query .phrase-illustrative
        @include mquery.desktop-xl {
            font-size: 28px;
        }

    }

}

.phrase-conclusion-page {
    @include typo.title($color:var(--couleur-texte-projet), $weight:700);
    font-size: 30px;
    text-align: center;

    // media query .phrase-conclusion-page
    @include mquery.landscape {
        font-size: 40px;
    }
}

// --------------- Section "résumé du projet" ---------------
#Resume_projet {
    padding: 0 0px 200px 0px;

    .module-resume {
        z-index: 1;
        padding: 60px 30px;
        background: rgba(color.$ambiance-160, 0.8);
        backdrop-filter: blur(4px);
        display: flex;
        flex-direction: column;
        gap: 40px;

        // media query section résumé
        @include mquery.tablet { 
            padding: 60px 80px;
        }

        // media query section résumé
        @include mquery.landscape { 
            padding: 60px 60px;
        }

        // media query section résumé
        @include mquery.laptop {   
            flex-direction: row;
            flex-wrap: nowrap;
            border-radius: 20px;
            gap: 60px;
            padding: 40px 30px;
        }

        // media query section résumé
        @include mquery.desktop-xl {   
            gap: 100px;
            padding: 40px 40px;
        }

        // Conteneur du texte du résumé projet
        .txt-resume-projet {
            width: 100%;

            // media query .txt-resume-projet
            @include mquery.laptop {  
                width: 72%;
            }

            // media query .txt-resume-projet
            @include mquery.desktop-xl {  
                width: 78%;
            }

            // Titre section "résumé du projet"
            .titre-section {
                background: none;
                width: 100%;
                margin: 0 0 15px 0;
                padding: 0px;

                // media query .titre-section
                @include mquery.laptop {  
                    text-align: left;
                }
            }

        }
        

        // Conteneur des infos clés du projet
        .infos-projet {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            gap: 30px;
            container-name: infos-projet;
            container-type: inline-size;

            // media query .infos-projet
            @include mquery.landscape {  
                justify-content: space-between;
            }

            // media query .infos-projet
            @include mquery.laptop {  
                width: 28%;
                gap: 20px;
                justify-content: start;
            }

            // media query .infos-projet
            @include mquery.desktop-xl {  
                width: 22%;
        }

            // Bloc info clés
            .bloc-infos-projet {
                width: calc(50% - 15px);
                display: flex;
                flex-direction: column;

                // media query .bloc-infos-projet
                @include mquery.landscape {  
                    width: calc(25% - 30px);
                }

                // media query .bloc-infos-projet
                @include mquery.laptop {  
                    width: 100%;
                }

                & * {
                    @include typo.text($color:#ffffff, $weight:500);
                    font-size: 18px;
                    margin: 0;
                }

                & .titre-infos-projet {
                    @include typo.title($color:#ffffff, $weight:700);
                    font-size: 22px;
                    margin: 0 0 5px 0;
                }
            }
        }

        @container infos-projet (max-width: 300px) {

            .bloc-infos-projet {
                width: 100%!important;
            }
            
        }
        
    }
}

// --------------- Section "identité visuelle" (si présente) ---------------

// ------ Bloc de typographie -----
.bloc-typographie-projet {
    display: flex;
    flex-direction: column;

    // Titre de la section
    .titre-typo {
        @include typo.title($color:var(--couleur-texte-projet), $weight:700);
        font-size: 34px;
        margin: 0 0 25px 0;

    }

    // X-ième typo
    .typo-projet {
        margin: 0 0 30px 0;

        // media query .typo-projet
        @include mquery.laptop {  
            margin: 0 0 50px 0;
        }

        // Retirer marge au dernier élément
        &:last-child {
            margin: 0;
        }

        .typo-showcase {
            @include typo.text($color:var(--couleur-texte-projet), $weight:700);
            font-size: 40px;
            margin: 0;
        }

        .typo-contexte {
            @include typo.text($color:var(--couleur-texte-projet), $weight:500);
            font-size: 28px;
            margin: 0;
        }
    }
}

// ------ Bloc de typographie -----
.bloc-palette-couleurs-projet {
    display: flex;
    flex-direction: column;

    // Titre de la section
    .titre-couleurs {
        @include typo.title($color:var(--couleur-texte-projet), $weight:700);
        font-size: 34px;
        margin: 0 0 25px 0;

    }

    // Bloc d'une palette de couleurs
    .palette-couleurs-projet {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        // Retirer marge au dernier élément
        &:last-child {
            margin: 0;
        }

        // Teinte principale d'une palette
        .palette-majeure {
            width: 100%;
            min-height: 120px;
            padding: 20px;
            background: #929292;
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .nom-teinte-majeure {
                @include typo.title($color:#ffffff, $weight:700);
                font-size: 26px;
                margin: 0 0 8px 0;

                // media query .nom-teinte-majeure
                @include mquery.tablet {  
                    font-size: 32px;
                }

                // media query .nom-teinte-majeure
                @include mquery.landscape {  
                    font-size: 26px;
                }

                // media query .nom-teinte-majeure
                @include mquery.laptop {  
                    font-size: 32px;
                }
            }

            .code-teinte-majeure {
                @include typo.text($color:#ffffff, $weight:500);
                font-size: 24px;
                margin: 0;

                // media query .code-teinte-majeure
                @include mquery.tablet {  
                    font-size: 28px;
                }
            }

        }

        // Palette regroupant les sous-teintes
        .palette-mineure {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 15px;

            // media query .palette-mineure
            @include mquery.phone {  
                gap: 10px;
            }

            // media query .palette-mineure
            @include mquery.tablet {  
                gap: 20px;
            }

            // media query .palette-mineure
            @include mquery.landscape {  
                gap: 15px;
            }

            // media query .palette-mineure
            @include mquery.desktop-xl {  
                gap: 25px;
            }

            .carre-palette {
                min-width: 10px;
                width: 100%;
                height: 50px;
                background: #7a7a7a;
            }
        }
    }


}

// Bloc de fin de page qui mène vers d'autres projets
.bloc-page-end-projet {
    width: 100%;
    padding: 70px 30px 90px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: color.$secondary-120;

    // media query .bloc-page-end-projet
    @include mquery.laptop {  
        padding: 130px 30px 200px 30px;
    }

    // Conteneur interne
    .bloc-end-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        // media query .bloc-end-wrapper
        @include mquery.laptop {  
            max-width: -moz-max-content;
            max-width: max-content;
            align-items: start;
        }

        // Titre bloc de fin
        .bloc-end-title {
            @include typo.special-title($color:#ffffff, $weight:800);
            font-size: 30px;
            margin: 0 auto 20px auto;
            text-align: center;

            // media query .bloc-end-title
            @include mquery.tablet {  
                font-size: 40px;
            }

            // media query .bloc-end-title
            @include mquery.landscape {  
                font-size: 50px;
                margin: 0 auto 30px auto;
            }

            // media query .bloc-end-title
            @include mquery.laptop {  
                font-size: 60px;
                margin: 0 0 40px 0;
            }
        }

        // Lien bloc de fin
        .bloc-end-btn {
            display: flex;
            align-items: center;
            background: color.$secondary-200;
            @include typo.title($color:#ffffff, $weight:500);
            font-size: 18px;
            text-align: center;
            padding: 18px 15px;
            border-radius: 8px;
            text-decoration: none;
            max-width: 450px;
            transition: transform 300ms ease-out;

            &:hover {
                background: color.$secondary-140;
            }

            // media query .bloc-end-btn
            @include mquery.tablet {  
                font-size: 22px;
            }

            // media query .bloc-end-btn
            @include mquery.laptop {  
                background: none;
                text-align: left;
                font-size: 34px;
                max-width: 100%;
                padding: 0;

                &:hover {
                    background: none;
                    transform: translateX(10px);
                    color: color.$secondary-20;
                }

                &:hover .bloc-end-ico {
                    background-image: url("/assets/svg/ico-endbloc-projet-amb20.svg");
                }
            }
        }

        // Icone du lien
        .bloc-end-ico {
            display: none;
            background-image: url("/assets/svg/ico-endbloc-projet-blanc.svg");
            width: 30px;
            height: 30px;
            margin: 0 12px 2px 0;

            // media query icone
            @include mquery.laptop {  
                display: block;
            }

            
        }

    }
}

// Bloque les animations de transition lors d'un window resize pour les éléments où c'est impossible à éviter
.resize-animation-stopper #Sommaire {
    animation: none !important;
    transition: none !important;
}


/* Code de rétrocompatibilité ciblant Safari iOS 16 ou antérieur */
@supports (-webkit-hyphens:none){

    // Cadre mobile vidéo ou maquette (fixe le mauvais rendu des outlines arrondies)
    .cadre-mobile {
        outline: 0px solid color.$ambiance-120;
        box-shadow: 0 0 0 4px color.$ambiance-120;
    }

    // Cadre desktop vidéo ou maquette (fixe le mauvais rendu des outlines arrondies)
    .cadre-desktop {
        outline: 0px solid color.$ambiance-120;
        box-shadow: 0 0 0 4px color.$ambiance-120;
    }


    // Bulle des outils utilisés (fixe le mauvais rendu des outlines arrondies)
    .outil-blob {
        transition: box-shadow 150ms ease;

        &:hover {
            outline: 0px solid transparent!important;
            box-shadow: 0 0 0 5px color.$primary-100;
        }
    }
}


/* Code de rétrocompatibilité ciblant Safari iOS 15.5 ou antérieur */
@media not all and (min-resolution:.001dpcm) {

    // Fixe le non-support d'aspect ratio qui cause une hauteur trop grande
    .cadre-mobile {
        height: 144vw;
        max-height: 497px;

            // media query .cadre-mobile
            @include mquery.landscape {  
                height: auto;
                max-height: 533px;
            }
            
            // media query .cadre-mobile
            @include mquery.laptop {  
                max-height: 604px;
            }  
    }
    
}

/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not(translate: none)) {

    // ---------- problèmes liés à la propriété gap -------------

    // Sommaire
    #Sommaire {

        #Sommaire_top_bar_desktop {
            .top-desk-wrapper {
                gap: 0;

                .top-desk-titre-ico {
                    margin-right: 8px;
                }
            }
        }

        #Sommaire_link_wrapper {
            gap: 0;

            .som-link {
                padding-top: 6px;
                padding-bottom: 6px;
            }
        }
    }

    // Règles de sections
    .section-bloc {
        gap: 0;
    }

    .section-ligne {
        gap: 0;
        margin-bottom: 25px;

        .section-colonne {
            margin-bottom: var(--gap-section);

            &:last-of-type {
                margin-bottom: 0;
            }

            // media query .section-ligne
            @include mquery.landscape {
                margin-bottom: 0;
                margin-right: var(--gap-section);

                &:last-of-type {
                    margin-right: 0;
                }
            }

            // Contenu des colonnes
            &>* {
                margin-bottom: 25px;
            }

            &>*:last-child {
                margin-bottom: 0;
            }
        }

        &.no-gap {
            .section-colonne {
                margin-bottom: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    // Paragraphes de texte de base
    .bloc-texte {
        gap: 0px;

        &>* {
            margin-bottom: 15px;

            // media query contenu bloc texte
            @include mquery.desktop-xl {
                margin-bottom: 18px;
            }
        }

        &>*:last-child {
            margin-bottom: 0px !important;
        }
    }

    // Barre des cadres maquette desktop
    .navibar-cadre-desk {
        .navivar-right {
            gap: 0px;

            .navibar-ico {
                margin-left: 12px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    // Conteneur post-it
    .post-it-wrapper {
        gap: 0px;
        justify-content: space-evenly;

        .post-it-bloc {
            margin-bottom: 18px;
        }
    }

    // Languette blanche qui contient les outils utilisés pour une section
    .outil-languette {
        gap: 0;

        .outil-txt {
            margin-right: 20px;
        }

        .outil-blob-wrapper {
            gap: 0;

            .outil-blob {
                margin-right: 18px;

                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }

    // Phrase illustrée par un emoji
    .bloc-emoji-phrase {
        gap: 0px;

        .emoji {
            margin-bottom: 15px;

            // media query .emoji
            @include mquery.tablet {
                margin-bottom: 0;
                margin-right: 15px;
            }

            // media query .emoji
            @include mquery.landscape {
                margin-bottom: 15px;
                margin-right: 0px;
            }

            // media query .emoji
            @include mquery.laptop {
                margin-bottom: 0;
                margin-right: 15px;
            }
        }
    }

    // Section "résumé"
    #Resume_projet {
        .module-resume {
            gap: 0px;

            .txt-resume-projet {
                margin-bottom: 40px;

                // media query .txt-resume-projet
                @include mquery.laptop {
                    margin-bottom: 0;
                    margin-right: 60px;
                }

                // media query .txt-resume-projet
                @include mquery.desktop-xl{
                    margin-right: 100px;
                }
            }

            .infos-projet { 
                gap: 0;
                justify-content: space-between;

                & > * {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .bloc-palette-couleurs-projet {
        // Bloc d'une palette de couleurs
        .palette-couleurs-projet {
            // Palette regroupant les sous-teintes
            .palette-mineure {
                gap: 0px;

                .carre-palette {
                    margin-right: 15px;

                    // media query .carre-palette
                    @include mquery.phone {  
                        margin-right: 10px;
                    }

                    // media query .carre-palette
                    @include mquery.tablet {  
                        margin-right: 20px;
                    }

                    // media query .carre-palette
                    @include mquery.landscape {  
                        margin-right: 15px;
                    }

                    // media query .carre-palette
                    @include mquery.desktop-xl {  
                        margin-right: 25px;
                    }

                    &:last-of-type {
                        margin-right: 0px!important;
                    }

                }
            }
        }
    }




    // ---------- autres problèmes -------------

    // Problème de mise en forme étiquette "outil utilisé" à cause d'un non support de max-content
    .outil-languette {
        .outil-blob {
            &::before {
                white-space: nowrap;
                width: auto;
            }
        }
    }


}