@use 'color';
@use 'mquery';
@use 'typo';
@use 'global';

:root {
    //couleur de fond de la page
    --fond-page-projet: #{color.$ambiance-100};

    // fond et couleur de texte des encarts gros titres du header et des sections du projet
    --fond-titre-projet: #{color.$secondary-100};
    --couleur-titre-projet: #ffffff;

    // couleur des paragraphes de texte
    --couleur-texte-projet: #ffffff;

    // couleur distinctive du projet, utilisée sur les boutons, bullet points, petits titres...
    --couleur-focus-projet: #{color.$primary-100};

    // couleur des éléments en opposition avec le fond (bloc blanc sur fond sombre par ex)
    --couleur-contraste-projet: #ffffff;

    // couleur lignes de séparation entre des éléments
    --couleur-ligne-projet: #{color.$ambiance-80};
}

body {
    background: var(--fond-page-projet);
}

main {
    min-height: 90vh;
}

.section-projet {
    margin-bottom: 200px;
}

// --------------- Section de l'image d'en-tête et du titre du projet ---------------
#Header_projet {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 100px 35px 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../svg/pattern-proj-header-placeholder-01.svg");
    background-repeat: repeat;
    background-size: 145px;
    background-position: center;
    box-shadow: 0 8px 25px 0 rgba(216, 214, 216, 0.2);
    transition: height 800ms ease;

    // media query header page
    @include mquery.laptop {   
        padding: 130px 35px 20px 35px;
        transition: height 500ms ease;
    }

    &.header-scrolled {
        height: 400px;
    }

    // Titre du projet
    #Titre_page {
        @include typo.special-title($color:var(--couleur-titre-projet), $weight:800);
        font-size: 42px;
        text-align: center;
        line-height: 1.3;
        margin: auto;
        padding: 18px 30px 24px 30px;
        background: var(--fond-titre-projet);
        transition: font-size 800ms ease, transform 800ms ease;

        // media query conteneur paragraphes
        @include mquery.laptop {   
            font-size: 58px;
            transition: font-size 500ms ease, transform 500ms ease;
        }

        &.header-titre-scrolled {
            transform: translateY(110px);

            // media query conteneur paragraphes
            @include mquery.laptop { 
                transform: translateY(80px);  
                font-size: 42px;
            }
            
        }
    }

    // Bouton pour scroller le header vers le bas
    #Scroll_btn_header {
        position: relative;
        display: flex;
        min-width: 50px;
        width: 50px;
        height: 50px;
        min-height: 50px;
        border-radius: 50px;
        background: #ffffff;
        cursor: pointer;
        margin-bottom: 100px;
        transition: transform 800ms ease, box-shadow 200ms linear;
        box-shadow: 0px 0px 18px 0 rgba(255, 255, 255, 0.15);

        // media query bouton scroll du header
        @include mquery.laptop {
            transition: transform 500ms ease, box-shadow 200ms linear;   
            margin-bottom: 50px;
        }

        &:hover {
            box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.30);
        }

        &.header-btn-scrolled {
            transform: translateY(250px);
        }

        .scroll-btn-header-icon {
            display: block;
            content: '';
            background-image: url("../svg/ico-fleche-scroll-amb100.svg");
            background-position: center;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin: auto;
            transition: transform 200ms ease;
            animation: 1s linear infinite anim-scroll-header-btn;
        }

        @keyframes anim-scroll-header-btn {
            0% {
                transform: translateY(0px);
            }

            20% {
                transform: translateY(-1px);
            }

            80% {
                transform: translateY(1px);
            }

            100% {
                transform: translateY(0px);
            }
        }

        &:hover .scroll-btn-header-icon {
            animation: 0;
            transform: translateY(2px);
        }
    }
}

.resume-projet {
    position: relative;
    z-index: 1;
    background: rgba(25, 5, 23, 0.8);
    padding: 60px 30px 40px 30px;
}

// Titres au début de chaque section
.titre-section {
    @include typo.title($color:var(--couleur-titre-projet), $weight:800);
    font-size: 34px;
    margin: 0;
}

// Paragraphes de texte de base
.bloc-texte {
    display: flex;
    flex-direction: column;
    gap: 15px;

    // media query conteneur paragraphes
    @include mquery.desktop-xl {   
        gap: 18px;
    }
}

.bloc-texte *{
    @include typo.text($color:var(--couleur-texte-projet), $weight:400);
    font-size: 18px;
    margin: 0;

    // media query paragraphes de texte
    @include mquery.laptop {   
        font-size: 20px;
    }

    // media query paragraphes de texte
    @include mquery.desktop-xl {   
        font-size: 22px;
    }
}