@use 'color';
@use 'mquery';
@use 'typo';
@use 'global';

:root {
    //couleur de fond de la page
    --fond-page-projet: #{color.$ambiance-100};

    // fond et couleur de texte des encarts gros titres du header et des sections du projet
    --fond-titre-projet: #{color.$secondary-100};
    --couleur-titre-projet: #ffffff;

    // couleur des paragraphes de texte
    --couleur-texte-projet: #ffffff;

    // couleur distinctive du projet, utilisée sur les boutons, bullet points, petits titres...
    --couleur-focus-projet: #{color.$primary-100};
    --couleur-focus-bis-projet: #{color.$primary-120};

    // couleur des éléments en opposition avec le fond (bloc blanc sur fond sombre par ex)
    --couleur-contraste-projet: #ffffff;

    // couleur lignes de séparation entre des éléments
    --couleur-ligne-projet: #{color.$ambiance-80};
}

body {
    background: var(--fond-page-projet);
}

main {
    min-height: 90vh;
}

// --------------- Section de l'image d'en-tête et du titre du projet ---------------
#Header_projet {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 100px 35px 20px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../svg/pattern-proj-header-placeholder-01.svg");
    background-repeat: repeat;
    background-size: 145px;
    background-position: center;
    box-shadow: 0 8px 25px 0 rgba(216, 214, 216, 0.2);
    transition: height 800ms ease;

    // media query header page
    @include mquery.laptop {   
        padding: 130px 35px 20px 35px;
        transition: height 500ms ease;
        margin-bottom: 100px;
    }

    &.header-scrolled {
        height: 400px;
    }

    // Titre du projet
    #Titre_page {
        @include typo.special-title($color:var(--couleur-titre-projet), $weight:800);
        font-size: 42px;
        text-align: center;
        line-height: 1.3;
        margin: auto;
        padding: 18px 30px 24px 30px;
        background: var(--fond-titre-projet);
        transition: font-size 800ms ease, transform 800ms ease;

        // media query conteneur paragraphes
        @include mquery.laptop {   
            font-size: 58px;
            transition: font-size 500ms ease, transform 500ms ease;
        }

        &.header-titre-scrolled {
            transform: translateY(110px);

            // media query conteneur paragraphes
            @include mquery.laptop { 
                transform: translateY(80px);  
                font-size: 42px;
            }
            
        }
    }

    // Bouton pour scroller le header vers le bas
    #Scroll_btn_header {
        position: relative;
        display: flex;
        min-width: 50px;
        width: 50px;
        height: 50px;
        min-height: 50px;
        border-radius: 50px;
        background: #ffffff;
        cursor: pointer;
        margin-bottom: 100px;
        transition: transform 800ms ease, box-shadow 200ms linear;
        box-shadow: 0px 0px 18px 0 rgba(255, 255, 255, 0.15);

        // media query bouton scroll du header
        @include mquery.laptop {
            transition: transform 500ms ease, box-shadow 200ms linear;   
            margin-bottom: 50px;
        }

        &:hover {
            box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.30);
        }

        &.header-btn-scrolled {
            transform: translateY(250px);
        }

        .scroll-btn-header-icon {
            display: block;
            content: '';
            background-image: url("../svg/ico-fleche-scroll-amb100.svg");
            background-position: center;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            margin: auto;
            transition: transform 200ms ease;
            animation: 1s linear infinite anim-scroll-header-btn;
        }

        @keyframes anim-scroll-header-btn {
            0% {
                transform: translateY(0px);
            }

            20% {
                transform: translateY(-1px);
            }

            80% {
                transform: translateY(1px);
            }

            100% {
                transform: translateY(0px);
            }
        }

        &:hover .scroll-btn-header-icon {
            animation: 0;
            transform: translateY(2px);
        }
    }
}

// --------------- Styles partagés des sections ---------------

// Bloc section
.section-projet {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    margin: 0 auto 200px auto;
    //gap: 150px;

    // media query bloc section
    @include mquery.laptop {
        flex-direction: row;
        flex-wrap: wrap;   
        max-width: 912px;
        margin: 0 auto 280px auto;
        padding: 0px;
        //gap: 180px;
    }

    // media query bloc section
    @include mquery.desktop-xl { 
        max-width: 1160px;
    }
}

.section-bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 150px;

    // media query .section-bloc
    @include mquery.laptop {
        margin-bottom: 180px;    

    }

    &:last-of-type {
        margin-bottom: 0px;
    }

}

.section-ligne {
    --gap-section: 30px;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
    justify-content: space-between;

    // media query .section-ligne
    @include mquery.landscape {
        flex-direction: row;
        flex-wrap: wrap;  
        
    }

    // media query .section-ligne
    @include mquery.laptop {
        --gap-section: 60px; 

    }

    // media query .section-ligne
    @include mquery.desktop-xl { 
        --gap-section: 100px;

    }

}

.section-colonne {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

// colonne 100% section
.full-col {
    width: 100%;
}

// demi-colonne section
.demi-col {
    width: 100%;

    // media query demi-colonne
    @include mquery.landscape {   
        width: calc(50% - var(--gap-section)/2);
    }
}

// tiers-colonne section
.tiers-col {
    width: 100%;

    // media query .tiers-col
    @include mquery.landscape {   
        width: calc(33% - var(--gap-section)/1.5);
    }
}

.no-gap {
    gap: 0!important;
}

// Titres au début de chaque section
.titre-section {
    @include typo.title($color:var(--couleur-titre-projet), $weight:800);
    font-size: 34px;
    text-align: center;
    background: var(--fond-titre-projet);
    width: 100%;
    margin: 0;
    padding: 22px 15px 20px 15px;
}

// Phrase importante mise en valeur
.phrase-forte {
    @include typo.title($color:var(--couleur-texte-projet), $weight:700);
    font-size: 26px;
    margin: 0;

    // media query .phrase-forte
    @include mquery.laptop {   
        font-size: 28px;
    }

    // media query .phrase-forte
    @include mquery.desktop-xl {   
        font-size: 32px;
    }
}

// Paragraphes de texte de base
.bloc-texte {
    display: flex;
    flex-direction: column;
    gap: 15px;

    // media query conteneur paragraphes
    @include mquery.desktop-xl {   
        gap: 18px;
    }
}

.bloc-texte *{
    @include typo.text($color:var(--couleur-texte-projet), $weight:400);
    font-size: 18px;
    margin: 0;

    // media query paragraphes de texte
    @include mquery.laptop {   
        font-size: 20px;
    }

    // media query paragraphes de texte
    @include mquery.desktop-xl {   
        font-size: 22px;
    }
}


// Listes à puces
.liste-puce {
    margin: 0;
    padding-inline-start: 20px;
    list-style: none;

    li {
        position: relative;
        @include typo.text($color:var(--couleur-texte-projet), $weight:500);
        font-size: 18px;
        margin: 0 0 10px 0;

        &::before {
            content: "";
            height: 7px;
            width: 7px;
            position: absolute;
            top: 0.5em;
            left: -18px;
            transform: rotate(-45deg);
            background: var(--couleur-focus-projet);
        }
    }

    li:last-of-type {
        margin: 0;
    }

}

.focus-color {
    color: var(--couleur-focus-projet);
}

// --------------- Blocs cadres ---------------

.bloc-cadre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 30px;

    // media query .bloc-cadre
    @include mquery.laptop {   
        //gap: 40px;
    }
}

.cadre-mobile {
    display: flex;
    width: 100%;
    max-width: 340px;
    aspect-ratio: 9 / 16;
    outline: 4px solid color.$ambiance-120;
    border-radius: 20px;
    box-shadow: 0px -10px 40px 0px rgba(166, 156, 164, 0.25);
    overflow: hidden;
    background: color.$ambiance-120;

    .bloc-video {
        width: 100%;
        height: auto;
    }

}

.legende-cadre {
    @include typo.title($color:#ffffff, $weight:400);
    font-size: 18px;
    font-style: italic;
    text-align: center;

    // media query .legende-cadre
    @include mquery.laptop {   
        font-size: 22px;
    }

    a {
        color: var(--couleur-focus-projet);
        text-decoration: none;

        &:hover {
            color: var(--couleur-focus-bis-projet);
        }
    }
}

// --------------- Section "résumé du projet" ---------------
#Resume_projet {
    z-index: 1;
    padding: 60px 30px;
    margin: 0 auto 150px auto;
    background: rgba(color.$ambiance-160, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    gap: 40px;

    // media query section résumé
    @include mquery.laptop {   
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 20px;
        gap: 60px;
        padding: 40px 30px;
        margin: 0 auto 180px auto;
    }

    // media query section résumé
    @include mquery.desktop-xl {   
        gap: 100px;
        padding: 40px 40px;
    }

    // Conteneur du texte du résumé projet
    .txt-resume-projet {
        width: 100%;

        // media query .txt-resume-projet
        @include mquery.laptop {  
            width: 72%;
        }

        // media query .txt-resume-projet
        @include mquery.desktop-xl {  
            width: 78%;
        }

        // Titre section "résumé du projet"
        .titre-section {
            background: none;
            width: 100%;
            margin: 0 0 15px 0;
            padding: 0px;

            // media query .titre-section
            @include mquery.laptop {  
                text-align: left;
            }
        }

    }
    

    // Conteneur des infos clés du projet
    .infos-projet {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 30px;
        container-name: infos-projet;
        container-type: inline-size;

        // media query .infos-projet
        @include mquery.landscape {  
            justify-content: space-between;
        }

        // media query .infos-projet
        @include mquery.laptop {  
             width: 28%;
             gap: 20px;
             justify-content: start;
        }

        // media query .infos-projet
        @include mquery.desktop-xl {  
            width: 22%;
       }

        // Bloc info clés
        .bloc-infos-projet {
            width: calc(50% - 15px);
            display: flex;
            flex-direction: column;

            // media query .bloc-infos-projet
            @include mquery.landscape {  
                width: calc(25% - 30px);
            }

            // media query .bloc-infos-projet
            @include mquery.laptop {  
                width: 100%;
            }

            & * {
                @include typo.text($color:#ffffff, $weight:500);
                font-size: 18px;
                margin: 0;
            }

            & .titre-infos-projet {
                @include typo.title($color:#ffffff, $weight:700);
                font-size: 22px;
                margin: 0 0 5px 0;
            }
        }
    }

    @container infos-projet (max-width: 300px) {

        .bloc-infos-projet {
            width: 100%!important;
        }
        
    }
    
}