@use 'mquery';

// --- APPELS DES TYPOS DU SITE ---

//Playfair (normale variable)
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"),
        url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
}

//Playfair (italique variable)
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"),
       url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: italic;
}

//Playfair fallback anciens navigateurs
@supports not (font-variation-settings: normal) {
  
  //Playfair (regular)
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }

  //Playfair (bold)
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }

}


//Alegreya Sans (thin)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

//Alegreya Sans (thin italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

//Alegreya Sans (light)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

//Alegreya Sans (light italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

//Alegreya Sans (regular)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

//Alegreya Sans (regular italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

//Alegreya Sans (medium)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

//Alegreya Sans (medium italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

//Alegreya Sans (bold)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

//Alegreya Sans (bold italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

//Alegreya Sans (extrabold)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

//Alegreya Sans (extrabold italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

//Alegreya Sans (black)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

//Alegreya Sans (black italic)
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}


//Assistant (normale variable)
@font-face {
  font-family: "Assistant";
  src: url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype"),
        url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
}

//Assistant fallback anciens navigateurs
@supports not (font-variation-settings: normal) {
  
  //Assistant (regular)
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Regular.ttf");
    font-weight: 400;
  }

  //Assistant (bold)
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Bold.ttf");
    font-weight: 700;
  }

}


// --- MIXINGS DE TYPOGRAPHIE ---
@mixin special-title($color: #ffffff, $weight:700) {
  font-family: 'Playfair', serif;
  font-size: 42px;
  font-weight: $weight;
  color: $color;
}

@mixin title($color: #242424, $weight:700) {
  font-family: 'Alegreya', sans-serif;
  font-size: 18px;
  font-weight: $weight;
  color: $color;
}

@mixin text($color: #242424, $weight:400) {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: $weight;
  color: $color;
}