@use 'color';
@use 'mquery';
@use 'typo';
@use 'global';

// section 01
#sec-home-01 {
    background: color.$ambiance-100;
    padding: 110px 20px 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;

    // media query #sec-home-01
    @include mquery.laptop { 
        padding: 125px 20px 40px 20px;
        
    }

    // media query #sec-home-01
    @include mquery.desktop { 
        gap: 25px 200px;
    }

    // media query #sec-home-01
    @include mquery.desktop-xl { 
        padding: 160px 20px 60px 20px;
        gap: 40px 110px;
    }

    // media query #sec-home-01
    @include mquery.widescreen { 
        gap: 100px 250px;
    }

    // conteneur gros titre et jobs
    .col-left {
        display: block;
        width: fit-content;

            // media query
            @include mquery.phone {    
                font-size: 36px;
            }

            // media query
            @include mquery.laptop {    
                padding-top: 40px;
            }

            // media query
            @include mquery.desktop {    
                padding-top: 30px;
            }

            // media query
            @include mquery.desktop-xl {    
                padding-top: 0px;
            }

        // titre
        .sec-title {
            @include typo.special-title($color:color.$primary-100);
            font-size: 50px;
            margin: 0 auto 20px auto;
            text-align: center;
            width: -moz-fit-content;
            width: fit-content;
            
                // media query
                @include mquery.phone {    
                    font-size: 12vw;
                }

                // media query
                @include mquery.tablet {    
                    font-size: 64px;
                }

                // media query
                @include mquery.landscape {    
                    font-size: 78px;
                    margin: 0 auto 30px auto;
                }

                // media query
                @include mquery.laptop {    
                    margin: 0 auto 20px 0;
                    text-align: left;
                    font-size: 60px;
                }

                @include mquery.desktop {
                    font-size: 70px;
                }

                @include mquery.desktop-xl {
                    font-size: 120px;
                }
        }

        // conteneurs liens métiers
        .job-box {
            position: relative;
            width: -moz-fit-content;
            width: fit-content;
            margin: 0 auto 18px auto;
            text-align: center;
            transition: transform 0.3s ease-out;

            // media query .job-box
            @include mquery.laptop {    
                text-align: left;
                margin: 0 auto 20px 0;

                &:hover {
                    transform: translateX(10px);
                }
            }

            &:hover {

                #job-1-txt1 {
                    color:#91D372;
                }

                #job-1-txt2 {
                    color:#F69965;
                }

                #p-code-left, #p-code-right {
                    opacity: 1;
                }

                #job-2 {
                    color: color.$primary-100;

                    p:nth-child(1) {
                        color: transparent;
                        -webkit-text-stroke:2px color.$primary-100;
                    }
        
                    p:nth-child(2) {
                        opacity: 1;
                    }
                }

                #job-3 {
                    color: color.$primary-100;
                }

                #job-3-txt1 {
                    font-weight: 900;
                }

                #job-3-txt2 {
                    font-style: italic;
                }
            }

            p {
                margin: 0;
            }
            
        }

        // liens métiers
        #job-1, #job-2, #job-3 {
            @include typo.title($color:#ffffff);
            font-size: 40px;
            text-decoration: none;
            display: block;
            opacity: 1;

                // media query
                @include mquery.phone {    
                    font-size: 10vw;
                }

                // media query
                @include mquery.desktop-xl {    
                    font-size: 72px;
                }

        }

        #job-1 {
            animation: fade-in-job-1 1.2s ease-out;
            
            #job-1-txt1, #job-1-txt2 {
                transition: color 0.2s ease-in-out;
            }
        }

        // fausses balises premier lien job
        #p-code-left, #p-code-right {
            font-family: 'Alegreya', sans-serif;
            font-size: 36px;
            font-weight: 700;
            color: color.$ambiance-80;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            pointer-events: none;

                // media query
                @include mquery.phone {    
                    font-size: 28px;
                }

                // media query
                @include mquery.desktop-xl {    
                    font-size: 72px;
                }
        }

        #p-code-left {
            left: -1.6em;
        }

        #p-code-right {
            right: -1.9em;
        }

        #job-2 {
            animation: fade-in-job-2 2s ease-out;
            transition: color 0.2s ease;
            position: relative;
            display: flex;

            p:nth-child(1) {
                color: #ffffff;
                -webkit-text-stroke:2px transparent;
                transition: color 0.2s ease, -webkit-text-stroke 0.2s ease;
            }

            p:nth-child(2) {
                position: absolute;
                color: color.$primary-100;
                animation: wave-effect 1.5s ease-in-out infinite;
                opacity: 0;
                transition: opacity 0.2s ease;
            }
        }

        #job-3 {
            animation: fade-in-job-3 2.4s ease-out;
            transition: color 0.2s ease;
        }

    }

    // conteneur photo "mon parcours"
    .col-right {
        display: none;
        width: fit-content;

            // media query .col-right
            @include mquery.laptop {    
                display: flex;
            }

            // media query .col-right
            @include mquery.desktop {    
                //width: 50%;
            }

            // media query .col-right
            @include mquery.desktop-xl {    
                //width: 35%;
            }

            .portrait-content {
                width: 100%;
                max-width: 360px;
                margin: auto 0 auto auto;
                position: relative;
                padding: 40px 0px;

                // media query .portrait-content
                @include mquery.desktop-xl {    
                    max-width: 460px;
                }

                #square-1 {
                    background: color.$ambiance-120;
                    width: 200px;
                    height: 200px;
                    transform-origin: center;
                    position: absolute;
                    transform: translate(-50%, 0);
                    left: 50%;
                    //top: -10px;
                    top: -20px;
                    -webkit-mask-image: url("/assets/mask/mask-losange.svg");
                    mask-image: url("/assets/mask/mask-losange.svg");
                    transition: transform 0.3s ease-out;
                    pointer-events: none;

                    // media query #square-1
                    @include mquery.desktop-xl {    
                        width: 250px;
                        height: 250px;
                    }
                }

                #square-2 {
                    background: color.$ambiance-120;
                    width: 200px;
                    height: 200px;
                    transform-origin: center;
                    position: absolute;
                    transform: translate(-50%, 0);
                    left: 50%;
                    //bottom: 0px;
                    bottom: -18px;
                    -webkit-mask-image: url("/assets/mask/mask-losange.svg");
                    mask-image: url("/assets/mask/mask-losange.svg");
                    transition: transform 0.3s ease-out;
                    pointer-events: none;

                    // media query #square-2
                    @include mquery.desktop-xl {    
                        width: 250px;
                        height: 250px;
                    }
                }

                .portrait {
                    width: 100%;
                    -webkit-mask-image: url("/assets/mask/mask-losange.svg");
                    mask-image: url("/assets/mask/mask-losange.svg");
                    transform-origin: center;
                    transform: scale(1);
                    transition: transform 0.3s ease-out;
                }

                &:hover .portrait {
                    transform: scale(1.03);
                }

                &:hover #square-1 {
                    transform: translate(-44%, -8%);
                }

                &:hover #square-2 {
                    transform: translate(-56%, 8%);
                }

                #parcours-box {
                    position: absolute;
                    left: -100px;
                    top: 4%;
                    width: 230px;
                    height: auto;
                    pointer-events: none;
                    transform: scale(0.8);

                    // media query #parcours-box
                    @include mquery.desktop-xl {    
                        transform: scale(1);
                        top: 9%;
                    }

                    #path-parc-1 {
                        stroke-dasharray: 210;
                        stroke-dashoffset: 210;
                        transition: all 0.4s ease;
                        transform: translate(0, 30px);
                    }

                    #path-parc-2 {
                        stroke-dasharray: 80;
                        stroke-dashoffset: 80;
                        transition: all 0.4s ease;
                        transform: translate(0, 30px);
                    }

                    #bulle-txt {
                        font-family: 'Alegreya', sans-serif;
                        font-size: 32px;
                        font-weight: 800;
                        opacity: 0;
                        transform: translateY(10px);
                        transition: all 0.4s ease;
                    }
                      
                }

                &:hover #parcours-box #path-parc-1{
                    stroke-dashoffset: 0;
                }

                &:hover #parcours-box #path-parc-2{
                    stroke-dashoffset: 0;
                }

                &:hover #parcours-box #bulle-txt{
                    transform: translateY(0);
                    opacity: 1;
                }

                
            }
    }

    // conteneur bouton scroll down
    .bottom-tab {
        width: 100%;
        display: flex;

        .scroll-down {
            position: relative;
            margin: auto;
            width: 40px;
            height: 80px;


            #ch-1, #ch-2, #ch-3 {
                position: absolute;
                left: 37%;
                display: block;
                transform: rotate(45deg) translate(-37%, 0);
                border-right: 4px solid white;
                border-bottom: 4px solid white;
                margin: 0;
                width: 25px;
                height: 25px;
                transition: all 0.3s ease-in-out;
                pointer-events: none;
            }

            #ch-1 {
                top: 0px;
                opacity: 1;
                animation: mouse-scroll-1 3s infinite;
                animation-delay: 1s;
                
            }

            &:hover #ch-1 {
                opacity: 1!important;
                animation: none;
            }

            #ch-2 {
                top: 20px;
                opacity: 0.5;
                animation: mouse-scroll-2 3s infinite;
                animation-delay: 1.5s;
                
            }

            &:hover #ch-2 {
                top: 22px;
                opacity: 1!important;
                animation: none;
            }

            #ch-3 {
                top: 40px;
                opacity: 0.15;
                animation: mouse-scroll-3 3s infinite;
                animation-delay: 2s;
                
            }

            &:hover #ch-3 {
                top: 45px;
                opacity: 1!important;
                animation: none;
            }

        }
    }


    // animations CSS section 01
    @keyframes wave-effect {
        0% {
            -webkit-clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
        }

        50% {
            -webkit-clip-path: polygon(0% 36%, 8% 46%, 25% 55%, 39% 48%, 51% 38%, 61% 50%, 76% 57%, 91% 55%, 100% 42%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 36%, 8% 46%, 25% 55%, 39% 48%, 51% 38%, 61% 50%, 76% 57%, 91% 55%, 100% 42%, 100% 100%, 0% 100%);
        }

        100% {
            -webkit-clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
        }
    }

    @keyframes mouse-scroll-1 {

        0%   { opacity: 1; }
        25%  { opacity: 0;}
        75% { opacity: 1; }
        100% { opacity: 1; }
    }

    @keyframes mouse-scroll-2 {

        0%   { opacity: 0.5; }
        25%  { opacity: 0;}
        75% { opacity: 0.5; }
        100% { opacity: 0.5; }
    }

    @keyframes mouse-scroll-3 {

        0%   { opacity: 0.15; }
        25%  { opacity: 0;}
        75% { opacity: 0.15; }
        100% { opacity: 0.15; }
    }

    @keyframes fade-in-job-1 {
        0%   {  opacity: 0;
                transform:translateY(-15px);
            }

        10%   {  opacity: 0;
                transform:translateY(-15px);
        }

        100% {  opacity: 1;
                transform:translateY(0);
            }
    }

    @keyframes fade-in-job-2 {
        0%   {  opacity: 0;
                transform:translateY(-15px);
            }

        20%   {  opacity: 0;
                transform:translateY(-15px);
        }

        100% {  opacity: 1;
                transform:translateY(0);
            }
    }

    @keyframes fade-in-job-3 {
        0%   {  opacity: 0;
                transform:translateY(-15px);
            }

        30%   {  opacity: 0;
                transform:translateY(-15px);
        }

        100% {  opacity: 1;
                transform:translateY(0);
            }
    }
}

// section 02
#sec-home-02 {
    position: relative;
    background: color.$ambiance-100;
    padding: 110px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    .mid-container {
        margin: auto;
        max-width: 850px;
        z-index: 2;

        // titre
        .sec-title {
            @include typo.title($color:#ffffff);
            font-size: 36px;
            font-weight: 800;
            margin: 0 auto 40px auto;
            text-align: center;
            width: -moz-fit-content;
            width: fit-content;

            // media query sec-title
            @include mquery.laptop { 
                font-size: 58px;
                margin: 0 auto 50px auto;
            }

            // media query sec-title
            @include mquery.desktop-xl { 
                font-size: 72px;
        
            }

            span {
                color: color.$primary-100;
            }
        }

        //conteneur boutons
        .btn-box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            gap: 25px;

            // media query btn-box
            @include mquery.tablet { 
                flex-direction: row;
            }

            // media query btn-box
            @include mquery.landscape { 
                gap: 30px;
            }

            // media query btn-box
            @include mquery.laptop { 
                gap: 50px 30px;
            }

            //boutons
            .welcome-btn {
                display: flex;
                margin: auto;
                width: 100%;
                max-width: 230px;
                padding: 15px 20px;
                background: color.$secondary-100;
                border-radius: 5px;
                text-decoration: none;
                justify-content: center;

                &:hover {
                    background: color.$secondary-120;
                }

                // media query welcome-btn
                @include mquery.tablet { 
                    width: 50%;
                    margin: 0;
                }

                // media query welcome-btn
                @include mquery.landscape { 
                    width: auto;
                    max-width: none;
                    margin: 0;
                }

                p {
                    @include typo.text($color:#ffffff);
                    font-size: 20px!important;
                    font-weight: 600;
                    margin: auto 0;
                    
                }

                img {
                    margin: auto 8px auto 0;
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }

    #blob-A {
        
        // media query blob-A
        @include mquery.laptop { 
            width: 400px;
            height: 400px;
            left: 50%;
            transform: translateX(-140%);
            top: -70px;
        }

        // media query blob-A
        @include mquery.desktop-xl { 
            width: 650px;
            height: 650px;
            transform: translateX(-150%);
            top: -100px;
        }
    }

    #blob-B {
        
        // media query blob-B
        @include mquery.laptop { 
            width: 400px;
            height: 400px;
            right: 50%;
            transform: translateX(155%);
            top: 160px;
        }

        // media query blob-B
        @include mquery.desktop-xl { 
            transform: translateX(200%);
            top: -25px;
        }
    }
    
}


// section 03
#sec-home-03 {
    position: relative;
    background: color.$ambiance-100;
    padding: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;

    // media query sec-home-03
    @include mquery.laptop { 
        padding: 100px 20px 150px 20px;
    }
    
    // media query sec-home-03
    @include mquery.desktop-xl { 
        padding: 150px 20px 150px 20px;
    } 

    .mid-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background: color.$ambiance-120;
        padding: 30px 30px 45px 30px;
        gap: 30px;
        width: 100%;
        max-width: 850px;

        // media query mid-container
        @include mquery.laptop { 
            flex-direction: row;
            gap: 45px 75px;
        }
        
        // media query mid-container
        @include mquery.desktop { 
            
        } 

        .title-box {
            width: 100%;
    
            .sec-title {
                @include typo.title($color:#ffffff);
                font-weight: 700;
                font-size: 20px;
                width: -moz-fit-content;
                width: fit-content;
                margin: 0 auto 0px auto;
                text-align: center;
        
                // media query sec-title
                @include mquery.laptop { 
                    font-size: 24px;
                }
            }
    
        }
    
        .process-btn-bloc {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            // media query process-btn-bloc
            @include mquery.laptop { 
                width: -moz-fit-content;
                width: fit-content;
            }
    
            p {
                @include typo.text($color:#ffffff);
                font-size: 16px;
                font-weight: 600;
                margin: 0 auto 15px auto;

                // media query process-btn-bloc p
                @include mquery.desktop-xl { 
                    font-size: 18px;
                }
            }
    
            a {
                background:color.$primary-100;
                padding: 13px 20px;
                @include typo.text($color:#ffffff);
                font-weight: 700;
                font-size: 18px;
                text-align: center;
                border-radius: 5px;
                width: 100%;
                max-width: 200px;
                margin: auto;
                
                &:hover {
                    background: color.$primary-120;
                }

                // media query process-btn-bloc bouton
                @include mquery.laptop {
                    width: auto;
                    padding: 15px 30px;
                }

                // media query process-btn-bloc bouton
                @include mquery.laptop {
                    padding: 15px 40px;
                }
            }
        }


    }


}