@use 'color';
@use 'mquery';
@use 'typo';
@use 'global';

// section 01
#sec-parc-01 {
    padding: 110px 20px 40px 20px;

    //gros titre page
    .page-title {
        @include typo.special-title($color:color.$primary-100);
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto 20px 0;
    }

    //début timeline mobile
    .time-flow-header {
        width: 100%;
        height: 180px;
        position: relative;

        .corner-top {
            display: block;
            width: calc(50% + 20px);
            height: 12px;
            position: absolute;
            top: 0;
            left: -20px;
            background-color: color.$primary-100;
        }

        .corner-center {
            width: 12px;
            height: 85%;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            display: block;
            background: linear-gradient(180deg, rgb(255, 102, 102) 65%, rgba(0, 0, 0, 0) 100%);
        }



    }

    //conteneur timeline chronologique
    .timeline-container {

        //row (ligne) timeline
        .time-row {
            display: flex;
            flex-direction: column;
            align-items: center;


            .time-anchor {
                width: 100%;
                max-width: 500px;

                //date d'un module de temps
                .time-date {
                    @include typo.special-title($color:#ffffff, $weight:900);
                    font-size: 26px;
                    width: -moz-fit-content;
                    width: fit-content;
                    margin: 0 auto 15px auto;

                    // media query time-date
                    @include mquery.laptop {    
                        font-size: 30px;
                        margin: 0 auto 15px 0;
                    }
                }
            }
            
            //fenetre module timeline
            .time-module {
                background: color.$ambiance-120;
                border-radius: 10px;
                box-shadow: 0px -10px 40px rgba(166, 156, 164, 0.12);
                width: 100%;
                max-width: 500px;

                //contenu du module
                .module-content {
                    padding: 20px 15px 5px 15px;
                    
                    .mod-toggled {
                        display: none;

                        &.visible {
                            display: block;
                        }
                    }

                    //titre module timeline
                    .mod-title {
                        @include typo.title($color:color.$primary-100, $weight:800);
                        margin: 0 auto 10px auto;
                        font-size: 18px;
                    }

                    //paragraphes de texte module timeline
                    .mod-txt {
                        @include typo.text($color:#ffffff, $weight:500);
                        margin: 0 auto 20px auto;
                    }

                    //liste à puce module timeline
                    ul {
                        padding-inline-start: 18px;
                        margin: 0 auto 20px auto;

                        li {
                            @include typo.text($color:#ffffff);

                        }
                    }

                    .mod-separator {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: color.$primary-100;
                        margin-bottom: 20px;
                    }

                }

                //barre du bas du module pour déplier/replier contenu
                .mod-bottom-bar {
                    width: 100%;
                    height: 55px;
                    border-radius: 0 0 10px 10px;
                    background: color.$ambiance-160;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    //icone croix
                    img {
                        width: 17px;
                        height: 17px;
                        margin: auto 5px auto 0;
                        pointer-events: none;

                        &.open {
                            transform: rotate(45deg);
                        }
                    }

                    //texte bouton
                    p {
                        @include typo.title($color:#ffffff, $weight:500);
                        font-size: 18px;
                        padding-top: 2px;
                        pointer-events: none;
                    }
                }
            }
        }

        //zone séparatrice inter-module sur mobile
        .time-flow-segment {
            position: relative;
            width: 100%;
            height: 220px;
            padding: 0;
            margin: 0;

            //ligne rouge mobile
            .red-line-segment {
                position: absolute;
                display: block;
                width: 12px;
                height: 70%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(255, 102, 102) 35%, rgb(255, 102, 102) 65%, rgba(0, 0, 0, 0) 100%);
            }
        }




    }

}