@use 'color';
@use 'mquery';
@use 'typo';
@use 'global';

// section 01
#sec-proj-01 {
    min-height: 90vh;

    .page-header {
        background: color.$secondary-120;
        padding: 90px 20px 20px 20px;

        // media query page-header
        @include mquery.landscape {   
            padding: 100px 20px 30px 20px;
        }

        // media query page-header
        @include mquery.laptop {   
            padding: 100px 20px 40px 20px;
        }

        h1 {
            @include typo.special-title($color:#ffffff, $weight:800);
            font-size: 42px;
            letter-spacing: 1px;
            text-align: center;
            width: -moz-fit-content;
            width: fit-content;
            margin: auto;

            // media query gros titre page
            @include mquery.laptop {   
                font-size: 72px;
            }

            // media query gros titre page
            @include mquery.desktop-xl {   
                font-size: 90px;
            }
        }
    }

    // Bandeau qui contient les filtres de projets
    .wrapper-filtre-projet {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: color.$ambiance-120;
        padding: 15px 20px 25px 20px;

        // media query .wrapper-filtre-projet
        @include mquery.landscape {   
            padding: 25px 40px 30px 40px;
        }

        /* Conteneur de menu filtres pour ferré à gauche ou à droite */
        .zone-01 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-grow: 1;
            flex-basis: 100%;
            gap: 20px;

            // media query .zone-01
            @include mquery.landscape {   
                gap: 30px;
            }
        }

        /* Conteneur parent d'un filtre */
        .bloc-filtre {
            display: flex;
            flex-direction: column;

            .filtre-label {
                @include typo.text($color:#ffffff, $weight:600);
                margin: 0 0 8px 0;
                font-size: 17px;

                // media query .filtre-label
                @include mquery.landscape {   
                    font-size: 18px;
                }

                // media query .filtre-label
                @include mquery.laptop {   
                    margin: 0 0 12px 0;
                }
            }

            .filtre-btn-bloc {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 7px;

                // media query .filtre-btn-bloc
                @include mquery.laptop {   
                    gap: 10px;
                }

                button {
                    padding: 5px 10px;
                    background-color: color.$ambiance-80;
                    outline: unset;
                    border: unset;
                    @include typo.text($color:#ffffff, $weight:500);
                    border-radius: 5px;
                    cursor: pointer;
                    -webkit-user-select: none;
                    user-select: none;

                    // Règle uniquement applicable aux appareils non-tactiles
                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            background-color: color.$secondary-70;
                            color: #000;
                        }
                    }

                    &:focus, &:focus-visible {
                        outline: 1px solid color.$secondary-100;
                    }

                    // media query button (filtre)
                    @include mquery.laptop {   
                        font-size: 18px;
                        padding: 7px 14px;
                    }
                }

                .active-filter {
                    background-color: color.$secondary-100;
                    pointer-events: none;
                    cursor: initial;

                    &:hover {
                        background-color: color.$secondary-100;
                    }
                }
            }
        }

    }

    .grid-wrapper {
        width: 100%;
        min-height: 90vh;
        display: flex;
        justify-content: center;
        padding: 40px 20px 100px 20px;
        align-items: start;

        // media query wrapper grille des projets
        @include mquery.laptop {   
            background: url("/assets/svg/grid-pattern-projets-01.svg");
            background-repeat: repeat;
            background-size: 150px;
            padding: 70px 60px 120px 60px;
        }

        // media query wrapper grille des projets
        @include mquery.widescreen {   
            background-size: 200px;
            padding: 90px 60px 120px 60px;
        }
    }

    // grille contenant les projets
    .projet-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        // media query bloc projet
        @include mquery.landscape {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
            align-items: stretch;
        }

        // media query grille projet
        @include mquery.laptop {  
            background-repeat: repeat;
            width: 775px;
            flex-direction: row;
            gap: 50px;
            justify-content: start;
            flex-wrap: wrap;
            align-items: center;
        }

        // media query grille projet
        @include mquery.desktop {  
            width: 1050px;
            
        }

        // media query grille projet
        @include mquery.desktop-xl {  
            width: 1325px;
        }

        // media query grille projet
        @include mquery.widescreen {  
            width: 1510px;
            gap: 70px;
        }

        // media query grille projet
        @include mquery.tv {  
            width: 1905px;
        }


        // carré page projet
        .projet-bloc {
            position: relative;
            background: color.$ambiance-120;
            padding: 15px 20px 20px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: column;
            width: 100%;
            max-width: 350px;
            text-decoration: none;
            box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.08);
            transition: box-shadow 300ms ease-out;

            &:hover {
                box-shadow: 0px 4px 30px 0px rgba(255,255,255,0.15);
            }

            // media query bloc projet
            @include mquery.landscape {
                max-width: 300px;
                align-content: start;
            }

            // media query bloc projet
            @include mquery.laptop {   
                flex-direction: column;
                justify-content: space-between;
                align-content: center;
                height: 225px;
                width: 225px;
                background: none;
                aspect-ratio: 1/1;
                max-width: 325px;
                padding: 10px 20px 15px 20px;
                box-shadow: none;
                transition: none;

                &:hover {
                    box-shadow: none;
                }
            }

            // media query bloc projet
            @include mquery.widescreen {   
                height: 325px;
                width: 325px;
                padding: 12px 25px 20px 25px;
            }

            // Bloc contenant le titre et le nom du commanditaire du projet
            .projet-ttr-bloc {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 3;
                order: 1;

                // media query .projet-ttr-bloc
                @include mquery.laptop {   
                    order: 2;
                }

                .projet-titre {
                    @include typo.title($color:#ffffff, $weight:700);
                    font-size: 28px;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 1;
                    margin-bottom: 3px;
                    width: -moz-fit-content;
                    width: fit-content;

                    // media query titre projet
                    @include mquery.landscape {   
                        font-size: 23px;
                        margin-bottom: 2px;
                    }

                    // media query titre projet
                    @include mquery.laptop {   
                        font-size: 30px;
                        margin-bottom: 4px;
                    }

                    // media query titre projet
                    @include mquery.widescreen {
                        font-size: 42px;
                    }
                }

                // Texte contenant le nom du commanditaire projet
                .projet-commanditaire {
                    @include typo.title($color:#ffffff, $weight:600);
                    font-size: 16px;
                    margin: 0;
                    text-align: center;
                    line-height: 1;
                    width: -moz-fit-content;
                    width: fit-content;

                    // media query .projet-commanditaire
                    @include mquery.landscape {   
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            } 

            // texte listant l'année du projet
            .projet-date {
                @include typo.text($color:#ffffff, $weight:700);
                margin: 0;
                z-index: 3;
                order: 3;
                font-size: 17px;
                text-align: center; 
                width: -moz-fit-content;
                width: fit-content;

                // media query date projet
                @include mquery.laptop {
                    position: relative;  
                    margin: 0 auto;
                    order: 1;
                    font-weight: 700;
                    padding-bottom: 6px;

                    &::after {
                        position: absolute;
                        width: 180px;
                        height: 1px;
                        background: #ffffff;
                        content: "";
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);

                    }
                }

                // media query date projet
                @include mquery.widescreen {
                    font-size: 22px;

                    &::after {
                        width: 270px;
                    }
                }
            }

            // tiret de séparation
            .sepa-info {
                @include typo.text($color:#ffffff, $weight:700);
                margin: 0 8px;
                z-index: 3;
                order: 3;
                font-size: 17px;

                // media query titre projet
                @include mquery.laptop {   
                    display: none;
                }
            }

            // texte listant le commanditaire du projet
            .projet-tags {
                @include typo.text($color:#ffffff, $weight:600);
                margin: 0;
                z-index: 3;
                order: 4;
                font-size: 16px;
                line-height: 1.5;
                text-align: center;

                // media query commanditaire projet
                @include mquery.landscape {   
                    font-size: 15px;
                }

                // media query commanditaire projet
                @include mquery.laptop { 
                    position: relative;
                    text-align: center;
                    width: -moz-fit-content; 
                    width: fit-content;
                    margin: 0 auto;
                    order: 3;
                    font-size: 14px;
                    padding-top: 6px;
                    line-height: 1.2;

                    &::after {
                        position: absolute;
                        width: 180px;
                        height: 1px;
                        background: #ffffff;
                        content: "";
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);

                    }
                }

                // media query commanditaire projet
                @include mquery.widescreen {
                    font-size: 18px;

                    &::after {
                        width: 270px;
                    }
                }

                // Bloc de texte listant un tag de catégorie du projet
                .txt-tag-projet {
                    white-space: nowrap;
                }
            }

            // conteneur visuel projet
            .projet-visuel {
                width: 100%;
                z-index: 1;
                order: 2;
                margin: 13px 0 8px 0;

                // media query conteneur visuel
                @include mquery.laptop {   
                    position: absolute;
                    height: 100%;
                    overflow: hidden;
                    left: 0;
                    top: 0;
                    transition: transform 350ms linear;
                    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.08);
                    margin: 0px;
                    order: unset;
                }

                // image de miniature d'un projet
                .projet-miniature {
                    background-image: url("/assets/img/thumb-placeholder.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 140%;
                    aspect-ratio: 1 / 1;
                    margin: auto;
                    

                    // media query miniature projet
                    @include mquery.laptop {   
                        transition: background-size 250ms ease-in-out;
                    }
                }

                // image de miniature d'un projet
                .projet-overlay {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0);
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    

                    // media query overlay miniature
                    @include mquery.laptop {   
                        display: block;
                        transition: background-color 150ms ease-out;
                    }
                }
            }

            // animation miniature au survol
            &:hover .projet-miniature {
    
                @include mquery.laptop {   
                    background-size: 148%;
                }
            }

            // elements visibles en hover
            .projet-date, .projet-ttr-bloc, .projet-tags {

                // media query elements de hover projet
                @include mquery.laptop {   
                    opacity: 0;
                    transition: opacity 150ms ease-out;
                }
            }

            &:hover .projet-date, &:hover .projet-ttr-bloc, &:hover .projet-tags {
                

                @include mquery.laptop {   
                    opacity: 1;
                }
            }

            &:hover .projet-overlay {
                // media query elements de hover projet
                @include mquery.laptop {   
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }



        }
    }
    

}

// ----- liste des ids de projets ------

// Projet site portfolio DH
#Proj_web_site_portfolio_DH_2023 {

    .projet-miniature {
        background-image: url("/fr/projet/2023-portfolio-dh/projet-thumbnail.png")!important;
    }
}

// Projet site vitrine Welwot
#Proj_web_site_welwot_2021 {

    .projet-miniature {
        background-image: url("/fr/projet/2021-site-welwot/projet-thumbnail.png")!important;
    }
}

// Projet site vitrine WotBus
#Proj_web_site_wotbus_2022 {

    .projet-miniature {
        background-image: url("/fr/projet/2022-site-wotbus/projet-thumbnail.png")!important;
    }
}

// Projet interface voyageur WotBus
#Proj_web_ui_voyageur_wotbus_2023 {

    .projet-miniature {
        background-image: url("/fr/projet/2023-ui-voyageur-wotbus/projet-thumbnail.png")!important;
    }
}

// Projet tableau de bord wi-avis
#Proj_web_dashboard_wiavis_2022 {

    .projet-miniature {
        background-image: url("/fr/projet/2022-dashboard-wi-avis/projet-thumbnail.png")!important;
    }
}

// Projet site vitrine DataOptique
#Proj_web_site_dataoptique_2022 {

    .projet-miniature {
        background-image: url("/fr/projet/2022-site-dataoptique/projet-thumbnail.png")!important;
    }
}

// Projet communication visuelle WotBus
#Proj_design_com_wotbus_2023 {

    .projet-miniature {
        background-image: url("/fr/projet/2023-communication-wotbus/projet-thumbnail.png")!important;
    }
}

// Projet site vitrine Cawibox
#Proj_web_site_cawibox_2020 {

    .projet-miniature {
        background-image: url("/fr/projet/2020-site-cawibox/projet-thumbnail.png")!important;
    }
}

/* Code de rétrocompatibilité ciblant Safari iOS 15.5 ou antérieur */
@media not all and (min-resolution:.001dpcm) { 
    

}

//fixer le support de aspect-ratio sur iOS 14 et moins
@supports (not(aspect-ratio: auto)) {
    .projet-miniature {
        width: 100%;
        height: 72vw;
        max-height: 300px;
    }
}


/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not(translate: none)) {

    /* problèmes liés à la propriété gap */
    .projet-bloc:not(:last-child) {
        margin-bottom: 40px;
    }
    
    .projet-bloc {
        // media query
        @include mquery.landscape {   
            margin-bottom: 60px!important;
    
            &:nth-child(odd) {
                margin-right: 60px;
            }
        }
    
    }
    
}



