@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: italic;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Assistant";
  src: url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype"), url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Bold.ttf");
    font-weight: 700;
  }
}
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #342B33;
}

main {
  max-width: 2600px;
  margin: auto;
}

.navbar {
  background: rgba(38, 22, 36, 0.8);
  backdrop-filter: blur(4px);
  min-height: 80px;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2600px;
  min-height: 80px;
  margin: auto;
}
@media (min-width: 992px) {
  .navbar {
    background: rgba(38, 22, 36, 0.5);
    transition: background 0.3s ease-in-out;
  }
  .navbar:hover {
    background: rgba(38, 22, 36, 0.8);
  }
}
.navbar.active {
  background: #261624;
}
.navbar .nav-logo {
  text-decoration: none;
  display: flex;
}
.navbar .nav-logo img {
  width: 45px;
  height: 45px;
  margin: auto 12px auto 0px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.navbar .nav-logo .logo-txt p {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}
.navbar .nav-logo:hover img {
  transform: scale(1.1);
}
.navbar .nav-toggle {
  display: block;
  cursor: pointer;
}
@media (min-width: 992px) {
  .navbar .nav-toggle {
    display: none;
  }
}
.navbar .nav-toggle .bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 10px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #ffffff;
}
.navbar .nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar .nav-toggle.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.navbar .nav-toggle.active .bar:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
.navbar .nav-menu {
  justify-content: space-between;
  align-items: start;
  position: fixed;
  left: 0;
  top: 80px;
  display: none;
  gap: 0;
  flex-direction: column;
  background: #342B33;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.navbar .nav-menu.active {
  display: flex;
}
@media (min-width: 992px) {
  .navbar .nav-menu {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    background: none;
    width: auto;
    text-align: left;
    text-align: center;
  }
}
.navbar .nav-menu .nav-item {
  list-style: none;
  margin: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .navbar .nav-menu .nav-item {
    width: auto;
  }
}
.navbar .nav-menu .nav-item .nav-link {
  font-family: "Alegreya", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 30px 30px 0 30px;
  transition: padding 0.1s ease-in-out;
  width: 100%;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  padding: 30px 30px 0 35px;
  color: #FF6666;
}
@media (min-width: 992px) {
  .navbar .nav-menu .nav-item .nav-link {
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-transform: none;
    padding: 0px;
    transition: padding 0s ease-in-out;
  }
  .navbar .nav-menu .nav-item .nav-link:hover {
    padding: 0;
    color: #ffffff;
  }
  .navbar .nav-menu .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #FF6666;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  .navbar .nav-menu .nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #342B33;
}
.nav-overlay.active {
  display: block;
}
@media (min-width: 992px) {
  .nav-overlay {
    display: none !important;
  }
}

#sec-home-01 {
  background: #342B33;
  padding: 80px 20px;
  display: flex;
}
@media (min-width: 992px) {
  #sec-home-01 {
    padding: 80px 100px;
  }
}
#sec-home-01 .col-left {
  display: block;
  width: 100%;
}
@media (max-width: 400px) {
  #sec-home-01 .col-left {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .col-left {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .col-left {
    width: 60%;
  }
}
#sec-home-01 .sec-title {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 700;
  color: #FF6666;
  font-size: 50px;
  margin: 0 auto 20px auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 992px) {
  #sec-home-01 .sec-title {
    font-size: 72px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .sec-title {
    font-size: 90px;
  }
}
@media (max-width: 400px) {
  #sec-home-01 .sec-title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .sec-title {
    margin: 0 auto 20px 0;
    text-align: left;
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .sec-title {
    font-size: 70px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .sec-title {
    font-size: 120px;
  }
}
#sec-home-01 .job-box {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px auto;
  text-align: center;
}
@media (min-width: 992px) {
  #sec-home-01 .job-box {
    text-align: left;
    margin: 0 auto 20px 0;
  }
}
#sec-home-01 .job-box p {
  margin: 0;
}
#sec-home-01 .job-box:hover #job-1-txt1 {
  color: #91D372;
}
#sec-home-01 .job-box:hover #job-1-txt2 {
  color: #F69965;
}
#sec-home-01 .job-box:hover #p-code-left, #sec-home-01 .job-box:hover #p-code-right {
  opacity: 1;
}
#sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-decoration: none;
}
@media (min-width: 1600px) {
  #sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  #sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
    font-size: 28px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
    font-size: 72px;
  }
}
#sec-home-01 #job-1 #job-1-txt1, #sec-home-01 #job-1 #job-1-txt2 {
  transition: color 0.2s ease-in-out;
}
#sec-home-01 #p-code-left, #sec-home-01 #p-code-right {
  font-family: "Alegreya", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #544953;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 400px) {
  #sec-home-01 #p-code-left, #sec-home-01 #p-code-right {
    font-size: 28px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 #p-code-left, #sec-home-01 #p-code-right {
    font-size: 72px;
  }
}
#sec-home-01 #p-code-left {
  left: -1.7em;
}
#sec-home-01 #p-code-right {
  right: -2em;
}
#sec-home-01 .col-right {
  display: none;
  width: 50%;
}
@media (min-width: 992px) {
  #sec-home-01 .col-right {
    display: flex;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .col-right {
    width: 40%;
  }
}

#sec-home-02 {
  background: #342B33;
}

#sec-home-03 {
  background: #342B33;
}/*# sourceMappingURL=style-accueil.css.map */