@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: italic;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Assistant";
  src: url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype"), url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Bold.ttf");
    font-weight: 700;
  }
}
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #342B33;
}

main {
  max-width: 2600px;
  margin: auto;
}

#sec-home-01 {
  background: #342B33;
  padding: 80px 20px;
  display: flex;
}
@media (min-width: 992px) {
  #sec-home-01 {
    padding: 80px 100px;
  }
}
#sec-home-01 .col-left {
  display: block;
  width: 100%;
}
@media (max-width: 400px) {
  #sec-home-01 .col-left {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .col-left {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .col-left {
    width: 60%;
  }
}
#sec-home-01 .sec-title {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 700;
  color: #FF6666;
  font-size: 50px;
  margin: 0 auto 20px auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 992px) {
  #sec-home-01 .sec-title {
    font-size: 72px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .sec-title {
    font-size: 90px;
  }
}
@media (max-width: 400px) {
  #sec-home-01 .sec-title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .sec-title {
    margin: 0 auto 20px 0;
    text-align: left;
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .sec-title {
    font-size: 70px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .sec-title {
    font-size: 120px;
  }
}
#sec-home-01 .job-box {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px auto;
  text-align: center;
}
@media (min-width: 992px) {
  #sec-home-01 .job-box {
    text-align: left;
    margin: 0 auto 20px 0;
  }
}
#sec-home-01 .job-box p {
  margin: 0;
}
#sec-home-01 .job-box:hover #job-1-txt1 {
  color: #91D372;
}
#sec-home-01 .job-box:hover #job-1-txt2 {
  color: #F69965;
}
#sec-home-01 .job-box:hover #p-code-left, #sec-home-01 .job-box:hover #p-code-right {
  opacity: 1;
}
#sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-decoration: none;
}
@media (min-width: 1600px) {
  #sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  #sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
    font-size: 28px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 #job-1, #sec-home-01 #job-2, #sec-home-01 #job-3 {
    font-size: 72px;
  }
}
#sec-home-01 #job-1 #job-1-txt1, #sec-home-01 #job-1 #job-1-txt2 {
  transition: color 0.2s ease-in-out;
}
#sec-home-01 #p-code-left, #sec-home-01 #p-code-right {
  font-family: "Alegreya", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #544953;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 400px) {
  #sec-home-01 #p-code-left, #sec-home-01 #p-code-right {
    font-size: 28px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 #p-code-left, #sec-home-01 #p-code-right {
    font-size: 72px;
  }
}
#sec-home-01 #p-code-left {
  left: -1.7em;
}
#sec-home-01 #p-code-right {
  right: -2em;
}
#sec-home-01 .col-right {
  display: none;
  width: 50%;
}
@media (min-width: 992px) {
  #sec-home-01 .col-right {
    display: flex;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .col-right {
    width: 40%;
  }
}

#sec-home-02 {
  background: #342B33;
}

#sec-home-03 {
  background: #342B33;
}/*# sourceMappingURL=style-accueil.css.map */