@charset "UTF-8";
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-display: block;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: italic;
  font-display: block;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Assistant";
  src: url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype"), url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
  font-display: block;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Regular.ttf");
    font-weight: 400;
    font-display: block;
  }
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Bold.ttf");
    font-weight: 700;
    font-display: block;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #342B33;
  overflow-x: hidden;
}

main {
  max-width: 2600px;
  margin: auto;
}

.modal-is-open, .modal-is-open body {
  overflow: hidden !important;
  touch-action: none !important;
}

.wait-for-load, .wait-for-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.stop-transitions, .stop-transitions * {
  transition: none !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

/* Classe générique à appliquer à des morceaux de textes pour les rendre inséparables */
.txt-hard-group {
  white-space: nowrap;
}

.navbar {
  background: rgba(38, 22, 36, 0.8);
  backdrop-filter: blur(4px);
  min-height: 80px;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2600px;
  min-height: 80px;
  margin: auto;
}
@media (min-width: 992px) {
  .navbar {
    background: rgba(38, 22, 36, 0.5);
    transition: background 0.3s ease-in-out;
  }
  .navbar:hover {
    background: rgba(38, 22, 36, 0.8);
  }
}
@media (min-width: 768px) {
  .navbar {
    padding: 0 50px;
  }
}
@media (min-width: 1600px) {
  .navbar {
    padding: 0 100px;
  }
}
.navbar.active {
  background: #261624;
}
.navbar .nav-logo {
  text-decoration: none;
  display: flex;
}
.navbar .nav-logo img {
  width: 45px;
  height: 45px;
  margin: auto 12px auto 0px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.navbar .nav-logo .logo-txt p {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}
.navbar .nav-logo:hover img {
  transform: scale(1.1);
}
.navbar .nav-toggle {
  display: block;
  cursor: pointer;
}
@media (min-width: 992px) {
  .navbar .nav-toggle {
    display: none;
  }
}
.navbar .nav-toggle .bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 10px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #ffffff;
}
.navbar .nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar .nav-toggle.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.navbar .nav-toggle.active .bar:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
.navbar .nav-menu {
  justify-content: space-between;
  align-items: start;
  position: fixed;
  left: 0;
  top: 80px;
  display: none;
  gap: 0;
  flex-direction: column;
  background: #342B33;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.navbar .nav-menu.active {
  display: flex;
}
@media (min-width: 992px) {
  .navbar .nav-menu {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    background: none;
    width: auto;
    text-align: left;
    text-align: center;
  }
}
.navbar .nav-menu .nav-item {
  list-style: none;
  margin: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .navbar .nav-menu .nav-item {
    width: auto;
  }
}
.navbar .nav-menu .nav-item .nav-link {
  font-family: "Alegreya", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 30px 30px 0 30px;
  transition: padding 0.1s ease-in-out;
  width: 100%;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  padding: 30px 30px 0 35px;
  color: #FF6666;
}
@media (min-width: 992px) {
  .navbar .nav-menu .nav-item .nav-link {
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-transform: none;
    padding: 0px;
    transition: padding 0s ease-in-out;
  }
  .navbar .nav-menu .nav-item .nav-link:hover {
    padding: 0;
    color: #ffffff;
  }
  .navbar .nav-menu .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #FF6666;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  .navbar .nav-menu .nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #342B33;
}
.nav-overlay.active {
  display: block;
}
@media (min-width: 992px) {
  .nav-overlay {
    display: none !important;
  }
}

footer {
  width: 100%;
  padding: 40px 20px;
  background: #190517;
  z-index: 2;
  position: relative;
}
@media (min-width: 768px) {
  footer {
    padding: 40px 40px;
  }
}
@media (min-width: 1600px) {
  footer {
    padding: 40px 100px;
  }
}
footer .footer-container {
  width: 100%;
  max-width: 2600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 768px) {
  footer .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer-container #footer-col-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 40px;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 {
    justify-content: start;
    margin-bottom: 0;
  }
}
footer .footer-container #footer-col-1 #foot-logo-box {
  display: none;
}
footer .footer-container #footer-col-1 #foot-logo-box img {
  width: 135px;
}
@media (min-width: 992px) {
  footer .footer-container #footer-col-1 #foot-logo-box {
    display: flex;
  }
}
footer .footer-container #footer-col-1 #foot-hr {
  display: none;
  width: 4px;
  height: 100%;
  background-color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 992px) {
  footer .footer-container #footer-col-1 #foot-hr {
    display: block;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .left-title {
  width: 100%;
}
footer .footer-container #footer-col-1 #foot-left-content .left-title p {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 6px auto;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .left-title p {
    text-align: left;
    margin: auto 0 6px 0;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  footer .footer-container #footer-col-1 #foot-left-content .left-title p {
    font-size: 26px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 400px) {
  footer .footer-container #footer-col-1 #foot-left-content .contact-mail p {
    font-size: 18px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-button {
  position: relative;
  width: 21px;
  height: 21px;
  margin: auto 0 auto 8px;
  background-image: url("/assets/svg/ico-copyto-blanc.svg");
  cursor: pointer;
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-button:hover {
  background-image: url("/assets/svg/ico-copyto-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-message {
  position: absolute;
  width: 49px;
  left: 50%;
  transform: translate(-50%, 0%);
  top: -28px;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FF6666;
  font-size: 16px !important;
  font-weight: 600;
  display: none;
}
@media (min-width: 500px) {
  footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-message {
    top: 50%;
    left: auto;
    transform: translate(0%, -50%);
    right: -55px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copied-msg {
  display: block;
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copied-img {
  background-image: url("/assets/svg/ico-copyto-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .social-icons {
    gap: 15px;
  }
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .social-icons {
    justify-content: left;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons a {
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .social-icons a {
    width: 40px;
    height: 40px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-1 {
  background: url("/assets/svg/ico-linkedin-blanc.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-1:hover {
  background: url("/assets/svg/ico-linkedin-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-2 {
  background: url("/assets/svg/ico-instagram-blanc.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-2:hover {
  background: url("/assets/svg/ico-instagram-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-3 {
  background: url("/assets/svg/ico-github-blanc.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-3:hover {
  background: url("/assets/svg/ico-github-primary.svg");
}
footer .footer-container #footer-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 {
    justify-content: end;
  }
}
footer .footer-container #footer-col-2 #legal-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 40px auto;
  position: relative;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 #legal-link {
    margin: 0 0 20px auto;
  }
}
footer .footer-container #footer-col-2 #legal-link .left-chevron {
  display: flex;
  transform: translateX(0px);
  transition: all 0.5s ease;
}
footer .footer-container #footer-col-2 #legal-link .left-chevron span {
  display: flex;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-top: 2px solid white;
  margin: auto;
  width: 11px;
  height: 11px;
}
footer .footer-container #footer-col-2 #legal-link:hover .left-chevron {
  transform: translateX(-3px);
}
footer .footer-container #footer-col-2 #legal-link:hover .left-chevron span {
  border-color: #FF6666;
}
footer .footer-container #footer-col-2 #legal-link .right-chevron {
  display: flex;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 #legal-link .right-chevron {
    display: none;
  }
}
footer .footer-container #footer-col-2 #legal-link .right-chevron span {
  display: flex;
  transform: rotate(45deg);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  margin: auto;
  width: 11px;
  height: 11px;
}
footer .footer-container #footer-col-2 #legal-link:hover .right-chevron {
  transform: translateX(3px);
}
footer .footer-container #footer-col-2 #legal-link:hover .right-chevron span {
  border-color: #FF6666;
}
footer .footer-container #footer-col-2 #legal-link .legal-txt {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 0px auto 2px auto;
}
footer .footer-container #footer-col-2 #legal-link:hover .legal-txt {
  color: #FF6666;
}
footer .footer-container #footer-col-2 p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5px auto;
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 p {
    margin: 0 0 5px auto;
    text-align: right;
  }
}
footer .footer-container #footer-col-2 p span {
  font-weight: 700;
}

.font-preloader {
  opacity: 0;
  position: absolute;
  z-index: -1000;
  left: 0;
  top: 0px;
}

::-moz-selection {
  color: #ffffff;
  background: #FF6666;
}

::selection {
  color: #ffffff;
  background: #FF6666;
}

.blob-shape {
  position: absolute;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url("/assets/svg/blob-tile-01.svg");
  background-size: 20px;
  background-repeat: repeat;
  z-index: 1;
}

.blob-type-01 {
  -webkit-mask: url("/assets/svg/blob-shape-01.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-01.svg") no-repeat 50% 50%;
}

.blob-type-02 {
  -webkit-mask: url("/assets/svg/blob-shape-02.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-02.svg") no-repeat 50% 50%;
}

.blob-type-03 {
  -webkit-mask: url("/assets/svg/blob-shape-03.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-03.svg") no-repeat 50% 50%;
}

.blob-type-04 {
  -webkit-mask: url("/assets/svg/blob-shape-04.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-04.svg") no-repeat 50% 50%;
}

.blob-type-05 {
  -webkit-mask: url("/assets/svg/blob-shape-05.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-05.svg") no-repeat 50% 50%;
}

.blob-type-06 {
  -webkit-mask: url("/assets/svg/blob-shape-06.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-06.svg") no-repeat 50% 50%;
}

.blob-type-07 {
  -webkit-mask: url("/assets/svg/blob-shape-07.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-07.svg") no-repeat 50% 50%;
}

.blob-type-08 {
  -webkit-mask: url("/assets/svg/blob-shape-08.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-08.svg") no-repeat 50% 50%;
}

#cc--main #cc_div {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 80%;
}
@media (min-width: 500px) {
  #cc--main #cc_div {
    max-width: 342px;
  }
}
#cc--main #cc_div:hover #cookie-img {
  transform: translate(-50%, -10px);
}
#cc--main #cm {
  position: relative;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
  background: #261624;
  max-width: 342px;
  box-shadow: 0 5px 20px rgba(198, 148, 62, 0.2);
}
#cc--main #cookie-img {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translate(-50%, 0px);
  width: 250px;
  animation: 0.8s ease-out 0s 1 CookieSlide;
  transition: transform 0.3s ease-in-out;
}
@media (min-width: 500px) {
  #cc--main #cookie-img {
    top: -120px;
  }
}
#cc--main #cookie-img:hover {
  transform: translate(-50%, -10px);
}
@keyframes CookieSlide {
  0% {
    top: -85px;
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    top: -120px;
    opacity: 1;
  }
}
#cc--main .cookie-desc {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 500px) {
  #cc--main #c-bns {
    flex-direction: row;
  }
}
#cc--main #c-p-bn {
  background: #FF6666;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 12px 10px;
}
@media (min-width: 500px) {
  #cc--main #c-p-bn {
    float: right;
    margin-left: 1em;
    margin-top: 0;
  }
}
#cc--main #c-p-bn:hover {
  background: #E93B39;
}
#cc--main #c-s-bn {
  background: #D8D6D8;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 12px 10px;
}
#cc--main #c-s-bn:hover {
  background: #A69CA4;
}

.show--consent #cc_div {
  display: block !important;
}

/* Code de rétrocompatibilité ciblant Safari iOS 16 ou antérieur */
/* Code de rétrocompatibilité ciblant Safari iOS 15.5 ou antérieur */
/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  /* problèmes liés à la propriété gap */
  @media (min-width: 1px) and (max-width: 991px) {
    .social-icons {
      gap: 0 !important;
    }
    .social-icons a {
      margin: 0 15px !important;
    }
    #legal-link {
      gap: 0 !important;
    }
    #legal-link .legal-txt {
      margin: 0px 10px 2px 10px !important;
    }
  }
}
#sec-home-01 {
  background: #342B33;
  padding: 100px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
@media (min-width: 992px) {
  #sec-home-01 {
    padding: 125px 20px 40px 20px;
    flex-direction: row;
    align-items: start;
    gap: 50px 100px;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 {
    gap: 25px 200px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 {
    padding: 160px 20px 60px 20px;
    gap: 40px 170px;
  }
}
@media (min-width: 1900px) {
  #sec-home-01 {
    gap: 100px 250px;
  }
}
#sec-home-01 .col-left {
  display: block;
  width: fit-content;
  order: 2;
}
@media (max-width: 400px) {
  #sec-home-01 .col-left {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .col-left {
    padding-top: 40px;
    order: 1;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .col-left {
    padding-top: 30px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-left {
    padding-top: 0px;
  }
}
#sec-home-01 .col-left .sec-title {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 700;
  color: #FF6666;
  font-size: 50px;
  margin: 0 auto 12px auto;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 400px) {
  #sec-home-01 .col-left .sec-title {
    font-size: 12vw;
  }
}
@media (min-width: 768px) {
  #sec-home-01 .col-left .sec-title {
    font-size: 56px;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .col-left .sec-title {
    margin: 0 auto 20px 0;
    text-align: left;
    font-size: 60px;
  }
}
@media (min-width: 1200px) {
  #sec-home-01 .col-left .sec-title {
    font-size: 70px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-left .sec-title {
    font-size: 110px;
  }
}
#sec-home-01 .col-left .job-box {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 14px auto;
  text-align: center;
  transition: transform 0.3s ease-out;
}
@media (min-width: 992px) {
  #sec-home-01 .col-left .job-box {
    text-align: left;
    margin: 0 auto 20px 0;
  }
  #sec-home-01 .col-left .job-box:hover {
    transform: translateX(10px);
  }
}
#sec-home-01 .col-left .job-box:hover #job-1-txt1 {
  color: #91D372;
}
#sec-home-01 .col-left .job-box:hover #job-1-txt2 {
  color: #F69965;
}
#sec-home-01 .col-left .job-box:hover #p-code-left, #sec-home-01 .col-left .job-box:hover #p-code-right {
  opacity: 1;
}
#sec-home-01 .col-left .job-box:hover #job-2 {
  color: #FF6666;
}
#sec-home-01 .col-left .job-box:hover #job-2 p:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #FF6666;
}
#sec-home-01 .col-left .job-box:hover #job-2 p:nth-child(2) {
  opacity: 1;
}
#sec-home-01 .col-left .job-box:hover #job-3 {
  color: #FF6666;
}
#sec-home-01 .col-left .job-box:hover #job-3-txt1 {
  font-weight: 900;
}
#sec-home-01 .col-left .job-box:hover #job-3-txt2 {
  font-style: italic;
}
#sec-home-01 .col-left .job-box p {
  margin: 0;
}
#sec-home-01 .col-left #job-1, #sec-home-01 .col-left #job-2, #sec-home-01 .col-left #job-3 {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  text-decoration: none;
  display: block;
  opacity: 1;
}
@media (max-width: 400px) {
  #sec-home-01 .col-left #job-1, #sec-home-01 .col-left #job-2, #sec-home-01 .col-left #job-3 {
    font-size: 9vw;
  }
}
@media (min-width: 768px) {
  #sec-home-01 .col-left #job-1, #sec-home-01 .col-left #job-2, #sec-home-01 .col-left #job-3 {
    font-size: 40px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-left #job-1, #sec-home-01 .col-left #job-2, #sec-home-01 .col-left #job-3 {
    font-size: 72px;
  }
}
#sec-home-01 .col-left #job-1 {
  animation: fade-in-job-1 1.2s ease-out;
}
#sec-home-01 .col-left #job-1 #job-1-txt1, #sec-home-01 .col-left #job-1 #job-1-txt2 {
  transition: color 0.2s ease-in-out;
}
#sec-home-01 .col-left #p-code-left, #sec-home-01 .col-left #p-code-right {
  font-family: "Alegreya", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #544953;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}
@media (max-width: 400px) {
  #sec-home-01 .col-left #p-code-left, #sec-home-01 .col-left #p-code-right {
    font-size: 28px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-left #p-code-left, #sec-home-01 .col-left #p-code-right {
    font-size: 72px;
  }
}
#sec-home-01 .col-left #p-code-left {
  left: -1.6em;
}
#sec-home-01 .col-left #p-code-right {
  right: -1.9em;
}
#sec-home-01 .col-left #job-2 {
  animation: fade-in-job-2 2s ease-out;
  transition: color 0.2s ease;
  position: relative;
  display: flex;
}
#sec-home-01 .col-left #job-2 p:nth-child(1) {
  color: #ffffff;
  -webkit-text-stroke: 2px transparent;
  transition: color 0.2s ease, -webkit-text-stroke 0.2s ease;
}
#sec-home-01 .col-left #job-2 p:nth-child(2) {
  position: absolute;
  color: #FF6666;
  animation: wave-effect 1.5s ease-in-out infinite;
  opacity: 0;
  transition: opacity 0.2s ease;
}
#sec-home-01 .col-left #job-3 {
  animation: fade-in-job-3 2.4s ease-out;
  transition: color 0.2s ease;
}
#sec-home-01 .col-right {
  display: flex;
  width: fit-content;
  order: 1;
}
@media (min-width: 992px) {
  #sec-home-01 .col-right {
    order: 2;
  }
}
#sec-home-01 .col-right .portrait-content {
  width: 100%;
  max-width: 200px;
  margin: auto 0 auto auto;
  position: relative;
  padding: 0px;
}
@media (hover: none) {
  #sec-home-01 .col-right .portrait-content {
    pointer-events: none;
  }
}
@media (min-width: 992px) {
  #sec-home-01 .col-right .portrait-content {
    max-width: 360px;
    padding: 40px 0px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-right .portrait-content {
    max-width: 460px;
  }
}
#sec-home-01 .col-right .portrait-content #square-1 {
  background: #261624;
  width: 125px;
  height: 125px;
  transform-origin: center;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-mask-image: url("/assets/mask/mask-losange.svg");
  mask-image: url("/assets/mask/mask-losange.svg");
  transition: transform 0.3s ease-out;
  pointer-events: none;
}
@media (min-width: 992px) {
  #sec-home-01 .col-right .portrait-content #square-1 {
    width: 200px;
    height: 200px;
    transform: translate(-50%, 0);
    left: 50%;
    top: -20px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-right .portrait-content #square-1 {
    width: 250px;
    height: 250px;
  }
}
#sec-home-01 .col-right .portrait-content #square-2 {
  background: #261624;
  width: 125px;
  height: 125px;
  transform-origin: center;
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-mask-image: url("/assets/mask/mask-losange.svg");
  mask-image: url("/assets/mask/mask-losange.svg");
  transition: transform 0.3s ease-out;
  pointer-events: none;
}
@media (min-width: 992px) {
  #sec-home-01 .col-right .portrait-content #square-2 {
    transform: translate(-50%, 0);
    left: 50%;
    bottom: -18px;
    top: auto;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-right .portrait-content #square-2 {
    width: 250px;
    height: 250px;
  }
}
#sec-home-01 .col-right .portrait-content .portrait {
  width: 100%;
  -webkit-mask-image: url("/assets/mask/mask-losange.svg");
  mask-image: url("/assets/mask/mask-losange.svg");
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
#sec-home-01 .col-right .portrait-content:hover .portrait {
  transform: scale(1.03);
}
#sec-home-01 .col-right .portrait-content:hover #square-1 {
  transform: translate(-6%, -50%);
}
@media (min-width: 992px) {
  #sec-home-01 .col-right .portrait-content:hover #square-1 {
    transform: translate(-44%, -8%);
  }
}
#sec-home-01 .col-right .portrait-content:hover #square-2 {
  transform: translate(6%, -50%);
}
@media (min-width: 992px) {
  #sec-home-01 .col-right .portrait-content:hover #square-2 {
    transform: translate(-56%, 8%);
  }
}
#sec-home-01 .col-right .portrait-content #parcours-box {
  position: absolute;
  left: -120px;
  top: -14%;
  width: 230px;
  height: auto;
  pointer-events: none;
  transform: scale(0.6);
}
@media (min-width: 992px) {
  #sec-home-01 .col-right .portrait-content #parcours-box {
    left: -100px;
    top: 4%;
    transform: scale(0.8);
  }
}
@media (min-width: 1600px) {
  #sec-home-01 .col-right .portrait-content #parcours-box {
    transform: scale(1);
    top: 9%;
  }
}
#sec-home-01 .col-right .portrait-content #parcours-box #path-parc-1 {
  stroke-dasharray: 210;
  stroke-dashoffset: 210;
  transition: all 0.4s ease;
  transform: translate(0, 30px);
}
#sec-home-01 .col-right .portrait-content #parcours-box #path-parc-2 {
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  transition: all 0.4s ease;
  transform: translate(0, 30px);
}
#sec-home-01 .col-right .portrait-content #parcours-box #bulle-txt {
  font-family: "Alegreya", sans-serif;
  font-size: 32px;
  font-weight: 800;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.4s ease;
}
#sec-home-01 .col-right .portrait-content:hover #parcours-box #path-parc-1 {
  stroke-dashoffset: 0;
}
#sec-home-01 .col-right .portrait-content:hover #parcours-box #path-parc-2 {
  stroke-dashoffset: 0;
}
#sec-home-01 .col-right .portrait-content:hover #parcours-box #bulle-txt {
  transform: translateY(0);
  opacity: 1;
}
#sec-home-01 .bottom-tab {
  width: 100%;
  display: flex;
  order: 3;
  margin-top: 25px;
}
@media (min-width: 992px) {
  #sec-home-01 .bottom-tab {
    margin-top: 0px;
  }
}
#sec-home-01 .bottom-tab .scroll-down {
  position: relative;
  margin: auto;
  width: 40px;
  height: 80px;
}
#sec-home-01 .bottom-tab .scroll-down #ch-1, #sec-home-01 .bottom-tab .scroll-down #ch-2, #sec-home-01 .bottom-tab .scroll-down #ch-3 {
  position: absolute;
  left: 37%;
  display: block;
  transform: rotate(45deg) translate(-37%, 0);
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
#sec-home-01 .bottom-tab .scroll-down #ch-1 {
  top: 0px;
  opacity: 1;
  animation: mouse-scroll-1 3s infinite;
  animation-delay: 1s;
}
#sec-home-01 .bottom-tab .scroll-down:hover #ch-1 {
  opacity: 1 !important;
  animation: none;
}
#sec-home-01 .bottom-tab .scroll-down #ch-2 {
  top: 20px;
  opacity: 0.5;
  animation: mouse-scroll-2 3s infinite;
  animation-delay: 1.5s;
}
#sec-home-01 .bottom-tab .scroll-down:hover #ch-2 {
  top: 22px;
  opacity: 1 !important;
  animation: none;
}
#sec-home-01 .bottom-tab .scroll-down #ch-3 {
  top: 40px;
  opacity: 0.15;
  animation: mouse-scroll-3 3s infinite;
  animation-delay: 2s;
}
#sec-home-01 .bottom-tab .scroll-down:hover #ch-3 {
  top: 45px;
  opacity: 1 !important;
  animation: none;
}
@keyframes wave-effect {
  0% {
    -webkit-clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 36%, 8% 46%, 25% 55%, 39% 48%, 51% 38%, 61% 50%, 76% 57%, 91% 55%, 100% 42%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 36%, 8% 46%, 25% 55%, 39% 48%, 51% 38%, 61% 50%, 76% 57%, 91% 55%, 100% 42%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 49%, 14% 43%, 26% 41%, 36% 47%, 45% 56%, 54% 49%, 71% 42%, 85% 46%, 100% 56%, 100% 100%, 0% 100%);
  }
}
@keyframes mouse-scroll-1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll-2 {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes mouse-scroll-3 {
  0% {
    opacity: 0.15;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.15;
  }
}
@keyframes fade-in-job-1 {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  10% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-job-2 {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  20% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-job-3 {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  30% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#sec-home-02 {
  position: relative;
  background: #342B33;
  padding: 110px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
#sec-home-02 .mid-container {
  margin: auto;
  max-width: 850px;
  z-index: 2;
}
#sec-home-02 .mid-container .welcome-bloc {
  margin: 0 auto 40px auto;
}
@media (min-width: 992px) {
  #sec-home-02 .mid-container .welcome-bloc {
    margin: 0 auto 50px auto;
  }
}
#sec-home-02 .mid-container .welcome-bloc .sec-title {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 16px auto;
}
@media (min-width: 992px) {
  #sec-home-02 .mid-container .welcome-bloc .sec-title {
    font-size: 58px;
    margin: 0 auto 10px auto;
  }
}
@media (min-width: 1600px) {
  #sec-home-02 .mid-container .welcome-bloc .sec-title {
    font-size: 72px;
    margin: 0 0 10px 0;
    text-align: left;
  }
}
#sec-home-02 .mid-container .welcome-bloc .sec-title span {
  color: #FF6666;
}
#sec-home-02 .mid-container .welcome-bloc .welcome-txt {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  margin: 0 auto 10px auto;
  width: 100%;
  max-width: 560px;
}
@media (min-width: 768px) {
  #sec-home-02 .mid-container .welcome-bloc .welcome-txt {
    max-width: 680px;
  }
}
@media (min-width: 992px) {
  #sec-home-02 .mid-container .welcome-bloc .welcome-txt {
    font-size: 19px;
    margin: 0 auto 10px auto;
  }
}
@media (min-width: 1600px) {
  #sec-home-02 .mid-container .welcome-bloc .welcome-txt {
    max-width: 100%;
  }
}
#sec-home-02 .mid-container .btn-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
@media (min-width: 500px) {
  #sec-home-02 .mid-container .btn-box {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  #sec-home-02 .mid-container .btn-box {
    gap: 30px;
  }
}
@media (min-width: 992px) {
  #sec-home-02 .mid-container .btn-box {
    gap: 50px 30px;
  }
}
#sec-home-02 .mid-container .btn-box .welcome-btn {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 270px;
  padding: 15px 20px;
  background: #439A86;
  border-radius: 5px;
  text-decoration: none;
  justify-content: center;
}
#sec-home-02 .mid-container .btn-box .welcome-btn:hover {
  background: #238A70;
}
@media (min-width: 500px) {
  #sec-home-02 .mid-container .btn-box .welcome-btn {
    width: 52%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  #sec-home-02 .mid-container .btn-box .welcome-btn {
    width: auto;
    max-width: none;
    margin: 0;
  }
}
#sec-home-02 .mid-container .btn-box .welcome-btn p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin: auto 0;
}
#sec-home-02 .mid-container .btn-box .welcome-btn img {
  margin: auto 8px auto 0;
  width: 25px;
  height: 25px;
}
#sec-home-02 .mid-container .btn-box #easter-clue {
  position: relative;
  display: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  #sec-home-02 .mid-container .btn-box #easter-clue {
    display: flex;
  }
}
#sec-home-02 .mid-container .btn-box .popover-easter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -90px;
  min-width: 135px;
  background: rgba(25, 5, 23, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  text-align: center;
  border-radius: 5px;
}
#sec-home-02 .mid-container .btn-box .popover-easter::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 10px 14px;
  border-color: rgba(25, 5, 23, 0.6) transparent;
  display: block;
}
#sec-home-02 .mid-container .btn-box .popover-easter.show {
  display: block;
}
#sec-home-02 .mid-container .btn-box .popover-easter #clue-message {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 17px;
}
@media (min-width: 992px) {
  #sec-home-02 #blob-A {
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translateX(-140%);
    top: -70px;
  }
}
@media (min-width: 1600px) {
  #sec-home-02 #blob-A {
    width: 650px;
    height: 650px;
    transform: translateX(-150%);
    top: -100px;
  }
}
@media (min-width: 992px) {
  #sec-home-02 #blob-B {
    width: 400px;
    height: 400px;
    right: 50%;
    transform: translateX(155%);
    top: 160px;
  }
}
@media (min-width: 1600px) {
  #sec-home-02 #blob-B {
    transform: translateX(200%);
    top: -25px;
  }
}

#sec-home-03 {
  position: relative;
  background: #342B33;
  padding: 100px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  #sec-home-03 {
    padding: 100px 20px 150px 20px;
  }
}
@media (min-width: 1600px) {
  #sec-home-03 {
    padding: 150px 20px 150px 20px;
  }
}
#sec-home-03 .mid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background: #261624;
  padding: 30px 30px 45px 30px;
  gap: 30px;
  width: 100%;
  max-width: 950px;
  z-index: 2;
}
@media (min-width: 992px) {
  #sec-home-03 .mid-container {
    flex-direction: row;
    gap: 45px 75px;
  }
}
#sec-home-03 .mid-container .title-box {
  width: 100%;
}
#sec-home-03 .mid-container .title-box .sec-title {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0px auto;
  text-align: center;
}
@media (min-width: 992px) {
  #sec-home-03 .mid-container .title-box .sec-title {
    font-size: 24px;
  }
}
#sec-home-03 .mid-container .process-btn-bloc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  #sec-home-03 .mid-container .process-btn-bloc {
    width: -moz-fit-content;
    width: fit-content;
  }
}
#sec-home-03 .mid-container .process-btn-bloc p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto 15px auto;
}
@media (min-width: 1600px) {
  #sec-home-03 .mid-container .process-btn-bloc p {
    font-size: 18px;
  }
}
#sec-home-03 .mid-container .process-btn-bloc a {
  background: #FF6666;
  padding: 13px 20px;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  max-width: 235px;
  margin: auto;
}
#sec-home-03 .mid-container .process-btn-bloc a:hover {
  background: #E93B39;
}
@media (min-width: 992px) {
  #sec-home-03 .mid-container .process-btn-bloc a {
    width: auto;
    padding: 15px 30px;
  }
}
@media (min-width: 992px) {
  #sec-home-03 .mid-container .process-btn-bloc a {
    padding: 15px 40px;
  }
}
@media (min-width: 992px) {
  #sec-home-03 #blob-C {
    width: 450px;
    height: 450px;
    right: 50%;
    transform: translateX(140%);
    bottom: -130px;
  }
}
@media (min-width: 1600px) {
  #sec-home-03 #blob-C {
    width: 580px;
    height: 580px;
    transform: translateX(115%);
    bottom: -20px;
  }
}

/* CODE DE RETROCOMPATIBILITE DEDIE A SAFARI iOS 13.7 ou antérieur */
@supports (-webkit-touch-callout: none) and (not (translate: none)) {
  /* problèmes liés à la propriété gap */
  @media (min-width: 1px) and (max-width: 768px) {
    .btn-box {
      gap: 0px !important;
    }
    .btn-box a {
      margin: 0 auto 25px auto !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .btn-box {
      gap: 0px !important;
    }
    .btn-box a {
      margin: 0 15px 30px 15px !important;
    }
  }
  @media (min-width: 1px) and (max-width: 991px) {
    .mid-container {
      gap: 0 !important;
    }
    .mid-container > * {
      margin: 15px auto !important;
    }
  }
}/*# sourceMappingURL=style-accueil.css.map */