@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
}
@font-face {
  font-family: "Playfair";
  src: url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype"), url("/assets/font/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: italic;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Playfair";
    src: url("/assets/font/PlayfairDisplay-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya";
  src: url("/assets/font/AlegreyaSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Assistant";
  src: url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype"), url("/assets/font/Assistant-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 800;
}
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Assistant";
    src: url("/assets/font/Assistant-Bold.ttf");
    font-weight: 700;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #342B33;
  overflow-x: hidden;
}

main {
  max-width: 2600px;
  margin: auto;
}

.wait-for-load, .wait-for-load * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.navbar {
  background: rgba(38, 22, 36, 0.8);
  backdrop-filter: blur(4px);
  min-height: 80px;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2600px;
  min-height: 80px;
  margin: auto;
}
@media (min-width: 992px) {
  .navbar {
    background: rgba(38, 22, 36, 0.5);
    transition: background 0.3s ease-in-out;
  }
  .navbar:hover {
    background: rgba(38, 22, 36, 0.8);
  }
}
@media (min-width: 768px) {
  .navbar {
    padding: 0 50px;
  }
}
@media (min-width: 1600px) {
  .navbar {
    padding: 0 100px;
  }
}
.navbar.active {
  background: #261624;
}
.navbar .nav-logo {
  text-decoration: none;
  display: flex;
}
.navbar .nav-logo img {
  width: 45px;
  height: 45px;
  margin: auto 12px auto 0px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.navbar .nav-logo .logo-txt p {
  font-family: "Alegreya", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}
.navbar .nav-logo:hover img {
  transform: scale(1.1);
}
.navbar .nav-toggle {
  display: block;
  cursor: pointer;
}
@media (min-width: 992px) {
  .navbar .nav-toggle {
    display: none;
  }
}
.navbar .nav-toggle .bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 10px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #ffffff;
}
.navbar .nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar .nav-toggle.active .bar:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.navbar .nav-toggle.active .bar:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
.navbar .nav-menu {
  justify-content: space-between;
  align-items: start;
  position: fixed;
  left: 0;
  top: 80px;
  display: none;
  gap: 0;
  flex-direction: column;
  background: #342B33;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
}
.navbar .nav-menu.active {
  display: flex;
}
@media (min-width: 992px) {
  .navbar .nav-menu {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    background: none;
    width: auto;
    text-align: left;
    text-align: center;
  }
}
.navbar .nav-menu .nav-item {
  list-style: none;
  margin: 0;
  width: 100%;
}
@media (min-width: 992px) {
  .navbar .nav-menu .nav-item {
    width: auto;
  }
}
.navbar .nav-menu .nav-item .nav-link {
  font-family: "Alegreya", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: 30px 30px 0 30px;
  transition: padding 0.1s ease-in-out;
  width: 100%;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  padding: 30px 30px 0 35px;
  color: #FF6666;
}
@media (min-width: 992px) {
  .navbar .nav-menu .nav-item .nav-link {
    font-family: "Assistant", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    text-transform: none;
    padding: 0px;
    transition: padding 0s ease-in-out;
  }
  .navbar .nav-menu .nav-item .nav-link:hover {
    padding: 0;
    color: #ffffff;
  }
  .navbar .nav-menu .nav-item .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #FF6666;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  .navbar .nav-menu .nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #342B33;
}
.nav-overlay.active {
  display: block;
}
@media (min-width: 992px) {
  .nav-overlay {
    display: none !important;
  }
}

footer {
  width: 100%;
  padding: 40px 20px;
  background: #190517;
  z-index: 2;
  position: relative;
}
@media (min-width: 768px) {
  footer {
    padding: 40px 40px;
  }
}
@media (min-width: 1600px) {
  footer {
    padding: 40px 100px;
  }
}
footer .footer-container {
  width: 100%;
  max-width: 2600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 768px) {
  footer .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer-container #footer-col-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 40px;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 {
    justify-content: start;
    margin-bottom: 0;
  }
}
footer .footer-container #footer-col-1 #foot-logo-box {
  display: none;
}
footer .footer-container #footer-col-1 #foot-logo-box img {
  width: 135px;
}
@media (min-width: 992px) {
  footer .footer-container #footer-col-1 #foot-logo-box {
    display: flex;
  }
}
footer .footer-container #footer-col-1 #foot-hr {
  display: none;
  width: 4px;
  height: 100%;
  background-color: #ffffff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 992px) {
  footer .footer-container #footer-col-1 #foot-hr {
    display: block;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .left-title {
  width: 100%;
}
footer .footer-container #footer-col-1 #foot-left-content .left-title p {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 6px auto;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .left-title p {
    text-align: left;
    margin: auto 0 6px 0;
    font-weight: 500;
  }
}
@media (min-width: 992px) {
  footer .footer-container #footer-col-1 #foot-left-content .left-title p {
    font-size: 26px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 400px) {
  footer .footer-container #footer-col-1 #foot-left-content .contact-mail p {
    font-size: 18px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-button {
  position: relative;
  width: 21px;
  height: 21px;
  margin: auto 0 auto 8px;
  background-image: url("/assets/svg/ico-copyto-blanc.svg");
  cursor: pointer;
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-button:hover {
  background-image: url("/assets/svg/ico-copyto-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-message {
  position: absolute;
  width: 49px;
  left: 50%;
  transform: translate(-50%, 0%);
  top: -28px;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FF6666;
  font-size: 16px !important;
  font-weight: 600;
  display: none;
}
@media (min-width: 500px) {
  footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copy-message {
    top: 50%;
    left: auto;
    transform: translate(0%, -50%);
    right: -55px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copied-msg {
  display: block;
}
footer .footer-container #footer-col-1 #foot-left-content .contact-mail .copied-img {
  background-image: url("/assets/svg/ico-copyto-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .social-icons {
    gap: 15px;
  }
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .social-icons {
    justify-content: left;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons a {
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-1 #foot-left-content .social-icons a {
    width: 40px;
    height: 40px;
  }
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-1 {
  background: url("/assets/svg/ico-linkedin-blanc.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-1:hover {
  background: url("/assets/svg/ico-linkedin-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-2 {
  background: url("/assets/svg/ico-instagram-blanc.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-2:hover {
  background: url("/assets/svg/ico-instagram-primary.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-3 {
  background: url("/assets/svg/ico-github-blanc.svg");
}
footer .footer-container #footer-col-1 #foot-left-content .social-icons #social-ico-3:hover {
  background: url("/assets/svg/ico-github-primary.svg");
}
footer .footer-container #footer-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 {
    justify-content: end;
  }
}
footer .footer-container #footer-col-2 #legal-link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 40px auto;
  position: relative;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 #legal-link {
    margin: 0 0 20px auto;
  }
}
footer .footer-container #footer-col-2 #legal-link .left-chevron {
  display: flex;
  transform: translateX(0px);
  transition: all 0.5s ease;
}
footer .footer-container #footer-col-2 #legal-link .left-chevron span {
  display: flex;
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-top: 2px solid white;
  margin: auto;
  width: 11px;
  height: 11px;
}
footer .footer-container #footer-col-2 #legal-link:hover .left-chevron {
  transform: translateX(-3px);
}
footer .footer-container #footer-col-2 #legal-link:hover .left-chevron span {
  border-color: #FF6666;
}
footer .footer-container #footer-col-2 #legal-link .right-chevron {
  display: flex;
  transition: all 0.5s ease;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 #legal-link .right-chevron {
    display: none;
  }
}
footer .footer-container #footer-col-2 #legal-link .right-chevron span {
  display: flex;
  transform: rotate(45deg);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  margin: auto;
  width: 11px;
  height: 11px;
}
footer .footer-container #footer-col-2 #legal-link:hover .right-chevron {
  transform: translateX(3px);
}
footer .footer-container #footer-col-2 #legal-link:hover .right-chevron span {
  border-color: #FF6666;
}
footer .footer-container #footer-col-2 #legal-link .legal-txt {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  margin: 0px auto 2px auto;
}
footer .footer-container #footer-col-2 #legal-link:hover .legal-txt {
  color: #FF6666;
}
footer .footer-container #footer-col-2 p {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5px auto;
}
@media (min-width: 768px) {
  footer .footer-container #footer-col-2 p {
    margin: 0 0 5px auto;
  }
}
footer .footer-container #footer-col-2 p span {
  font-weight: 700;
}

.font-preloader {
  opacity: 0;
  position: absolute;
  z-index: -1000;
  left: 0;
  top: 0px;
}

::-moz-selection {
  color: #ffffff;
  background: #FF6666;
}

::selection {
  color: #ffffff;
  background: #FF6666;
}

.blob-shape {
  position: absolute;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: url("/assets/svg/blob-tile-01.svg");
  background-size: 20px;
  background-repeat: repeat;
  z-index: 1;
}

.blob-type-01 {
  -webkit-mask: url("/assets/svg/blob-shape-01.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-01.svg") no-repeat 50% 50%;
}

.blob-type-02 {
  -webkit-mask: url("/assets/svg/blob-shape-02.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-02.svg") no-repeat 50% 50%;
}

.blob-type-03 {
  -webkit-mask: url("/assets/svg/blob-shape-03.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-03.svg") no-repeat 50% 50%;
}

.blob-type-04 {
  -webkit-mask: url("/assets/svg/blob-shape-04.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-04.svg") no-repeat 50% 50%;
}

.blob-type-05 {
  -webkit-mask: url("/assets/svg/blob-shape-05.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-05.svg") no-repeat 50% 50%;
}

.blob-type-06 {
  -webkit-mask: url("/assets/svg/blob-shape-06.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-06.svg") no-repeat 50% 50%;
}

.blob-type-07 {
  -webkit-mask: url("/assets/svg/blob-shape-07.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-07.svg") no-repeat 50% 50%;
}

.blob-type-08 {
  -webkit-mask: url("/assets/svg/blob-shape-08.svg") no-repeat 50% 50%;
  mask: url("/assets/svg/blob-shape-08.svg") no-repeat 50% 50%;
}

#sec-parc-01 {
  padding: 110px 20px 40px 20px;
}
#sec-parc-01 .parc-header {
  position: relative;
}
#sec-parc-01 .page-title {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 800;
  color: #FF6666;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  margin: 0 auto 20px 0;
  font-size: 42px;
}
@media (max-width: 400px) {
  #sec-parc-01 .page-title {
    font-size: 38px;
  }
}
@media (min-width: 992px) {
  #sec-parc-01 .page-title {
    text-align: center;
    margin: 0 auto 20px auto;
    font-size: 90px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 .page-title {
    margin: 0 auto 50px auto;
  }
}
#sec-parc-01 .time-flow-header {
  width: 100%;
  height: 180px;
  position: relative;
}
@media (min-width: 1600px) {
  #sec-parc-01 .time-flow-header {
    display: none;
  }
}
#sec-parc-01 .time-flow-header .corner-top {
  display: block;
  width: calc(50% + 20px);
  height: 12px;
  position: absolute;
  top: 0;
  left: -20px;
  background-color: #FF6666;
}
@media (min-width: 992px) {
  #sec-parc-01 .time-flow-header .corner-top {
    display: none;
  }
}
#sec-parc-01 .time-flow-header .corner-center {
  width: 12px;
  height: 85%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  background: linear-gradient(180deg, rgb(255, 102, 102) 65%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 992px) {
  #sec-parc-01 .time-flow-header .corner-center {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(255, 102, 102) 35%, rgb(255, 102, 102) 65%, rgba(0, 0, 0, 0) 100%);
  }
}
#sec-parc-01 .timeline-container {
  position: relative;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container {
    padding: 150px 0;
  }
}
#sec-parc-01 .timeline-container .desktop-timeline {
  display: none;
  z-index: -1;
  width: 12px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(255, 102, 102) 15%, rgb(255, 102, 102) 85%, rgba(0, 0, 0, 0) 100%);
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .desktop-timeline {
    display: block;
  }
}
#sec-parc-01 .timeline-container .time-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row {
    justify-content: start;
    flex-direction: row;
    align-items: start;
    margin-left: calc(50% - 25px);
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
#sec-parc-01 .timeline-container .time-row .time-anchor {
  width: 100%;
  max-width: 500px;
  position: relative;
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-container .time-row .time-anchor {
    max-width: 750px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row .time-anchor {
    max-width: 300px;
    margin: auto 20px auto 0;
  }
}
#sec-parc-01 .timeline-container .time-row .time-anchor .time-date {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px auto;
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-container .time-row .time-anchor .time-date {
    font-size: 30px;
    margin: 0 auto 15px 0;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row .time-anchor .time-date {
    position: absolute;
    left: 60px;
    top: -20px;
    font-size: 24px;
    font-weight: 500;
  }
}
#sec-parc-01 .timeline-container .time-row .time-anchor .time-point {
  display: none;
  width: 50px;
  height: 50px;
  background: #342B33;
  border: 8px solid #FF6666;
  border-radius: 1000px;
  margin: 0 auto 0 0;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row .time-anchor .time-point {
    display: block;
  }
}
#sec-parc-01 .timeline-container .time-row .time-anchor .time-branch {
  display: none;
  width: 90%;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: linear-gradient(90deg, rgb(255, 102, 102) 60%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row .time-anchor .time-branch {
    display: block;
  }
}
#sec-parc-01 .timeline-container .time-row .time-module {
  position: relative;
  background: #261624;
  border-radius: 10px;
  box-shadow: 0px -10px 40px rgba(166, 156, 164, 0.12);
  width: 80%;
  max-width: 500px;
}
@media (max-width: 400px) {
  #sec-parc-01 .timeline-container .time-row .time-module {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-container .time-row .time-module {
    max-width: 750px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row .time-module {
    max-width: 450px;
  }
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content {
  padding: 20px 15px 5px 15px;
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-container .time-row .time-module .module-content {
    padding: 30px 30px 10px 30px;
  }
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content .mod-toggled {
  display: none;
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content .mod-toggled.visible {
  display: block;
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content .mod-title {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #FF6666;
  margin: 0 auto 10px auto;
  font-size: 18px;
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-container .time-row .time-module .module-content .mod-title {
    font-size: 22px;
  }
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content .mod-txt {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 auto 15px auto;
  font-size: 16px;
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content ul {
  padding-inline-start: 17px;
  margin: 0 auto 20px auto;
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content ul li {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content ul li::marker {
  color: #FF6666;
}
#sec-parc-01 .timeline-container .time-row .time-module .module-content .mod-separator {
  display: block;
  width: 100%;
  height: 1px;
  background: #FF6666;
  margin-bottom: 20px;
}
#sec-parc-01 .timeline-container .time-row .time-module .mod-bottom-bar {
  width: 100%;
  height: 55px;
  border-radius: 0 0 10px 10px;
  background: #190517;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#sec-parc-01 .timeline-container .time-row .time-module .mod-bottom-bar img {
  width: 17px;
  height: 17px;
  margin: auto 5px auto 0;
  pointer-events: none;
}
#sec-parc-01 .timeline-container .time-row .time-module .mod-bottom-bar img.open {
  transform: rotate(45deg);
}
#sec-parc-01 .timeline-container .time-row .time-module .mod-bottom-bar p {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  padding-top: 2px;
  pointer-events: none;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row.reverse-row {
    justify-content: end;
    flex-direction: row-reverse;
    margin-right: calc(50% - 25px);
    margin-left: 0;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row.reverse-row .time-anchor {
    margin: auto 0 auto 20px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row.reverse-row .time-anchor .time-date {
    right: 60px;
    left: auto;
  }
}
#sec-parc-01 .timeline-container .time-row.reverse-row .time-anchor .time-point {
  margin: 0 0 0 auto;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-row.reverse-row .time-anchor .time-branch {
    right: 5px;
    left: auto;
    background: linear-gradient(-90deg, rgb(255, 102, 102) 60%, rgba(0, 0, 0, 0) 100%);
  }
}
#sec-parc-01 .timeline-container .time-flow-segment {
  position: relative;
  width: 100%;
  height: 220px;
  padding: 0;
  margin: 0;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-container .time-flow-segment {
    display: none;
  }
}
#sec-parc-01 .timeline-container .time-flow-segment .red-line-segment {
  position: absolute;
  display: block;
  width: 12px;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(255, 102, 102) 35%, rgb(255, 102, 102) 65%, rgba(0, 0, 0, 0) 100%);
}
#sec-parc-01 .timeline-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
@media (min-width: 1600px) {
  #sec-parc-01 .timeline-end {
    padding: 50px 0 0 0;
  }
}
#sec-parc-01 .timeline-end .end-big-title {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 15px auto;
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-end .end-big-title {
    font-size: 38px;
    margin: 0 auto 25px auto;
  }
}
#sec-parc-01 .timeline-end .end-module {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #261624;
  border-radius: 10px;
  box-shadow: 0px -10px 40px rgba(166, 156, 164, 0.12);
  width: 80%;
  max-width: 500px;
  padding: 20px 15px 35px 15px;
  margin: 0 auto;
}
@media (max-width: 400px) {
  #sec-parc-01 .timeline-end .end-module {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-end .end-module {
    max-width: 750px;
    padding: 30px 30px 35px 30px;
  }
}
#sec-parc-01 .timeline-end .end-module .end-title {
  font-family: "Alegreya", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #FF6666;
  margin: 0 auto 10px 0;
  font-size: 18px;
}
@media (min-width: 992px) {
  #sec-parc-01 .timeline-end .end-module .end-title {
    font-size: 22px;
  }
}
#sec-parc-01 .timeline-end .end-module .end-txt {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 15px 0;
  font-size: 16px;
}
#sec-parc-01 .timeline-end .end-module ul {
  padding-inline-start: 17px;
  margin: 0 0 20px 0;
}
#sec-parc-01 .timeline-end .end-module ul li {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
}
#sec-parc-01 .timeline-end .end-module ul li::marker {
  color: #FF6666;
}
#sec-parc-01 .timeline-end .end-module .end-btn {
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  background: #FF6666;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px auto 0 auto;
}
#sec-parc-01 .timeline-end .end-module .end-btn:hover {
  background: #E93B39;
}
#sec-parc-01 #cv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 220px;
  width: 100%;
  padding: 35px 0px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container {
    min-height: 290px;
    margin-bottom: 60px;
  }
}
#sec-parc-01 #cv-container .cv-btn {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  background: #439A86;
  border-radius: 8px;
  font-family: "Assistant", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn {
    font-family: "Alegreya", sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    background: none;
  }
}
#sec-parc-01 #cv-container .cv-btn:hover {
  background: #238A70;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn:hover {
    background: none;
    color: #FF6666;
  }
}
#sec-parc-01 #cv-container .cv-btn .cv-txt-01 {
  display: block;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .cv-txt-01 {
    display: none;
  }
}
#sec-parc-01 #cv-container .cv-btn .cv-txt-02 {
  display: none;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .cv-txt-02 {
    display: block;
  }
}
#sec-parc-01 #cv-container .cv-btn .btn-outline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 111%;
  height: 142%;
  border: 3px solid #439A86;
  border-radius: 10px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .btn-outline {
    display: none;
  }
}
#sec-parc-01 #cv-container .cv-btn:hover .btn-outline {
  border: 3px solid #238A70;
}
#sec-parc-01 #cv-container .cv-btn .arrows-grp {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
  width: 300px;
  margin-bottom: 25px;
  pointer-events: none;
}
#sec-parc-01 #cv-container .cv-btn .arrows-grp * {
  transition: left 300ms ease-out, right 300ms ease-out, top 300ms ease-out, bottom 300ms ease-out;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .arrows-grp {
    top: -140px;
  }
}
#sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-01 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -15px;
  top: 0px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-01 {
    width: 80px;
    height: 80px;
    left: -60px;
    top: 20px;
  }
}
#sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-02 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 27%;
  top: 12px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-02 {
    width: 50px;
    height: 50px;
    left: 20%;
    top: 15px;
  }
}
#sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-03 {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 27%;
  top: 5px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-03 {
    width: 70px;
    height: 70px;
    right: 20%;
    top: 0px;
  }
}
#sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-04 {
  position: absolute;
  width: 55px;
  height: 55px;
  right: -15px;
  top: 0px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn .arrows-grp #fleche-cv-04 {
    width: 80px;
    height: 80px;
    right: -70px;
    top: 15px;
  }
}
#sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-01 {
  left: -10px;
  top: 5px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-01 {
    left: -55px;
    top: 25px;
  }
}
#sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-02 {
  left: 28%;
  top: 15px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-02 {
    left: 21%;
    top: 20px;
  }
}
#sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-03 {
  right: 28%;
  top: 8px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-03 {
    right: 21%;
    top: 5px;
  }
}
#sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-04 {
  right: -10px;
  top: 5px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn:hover #fleche-cv-04 {
    right: -60px;
    top: 20px;
  }
}
#sec-parc-01 #cv-container .cv-btn #double-cercle-cv {
  display: none;
  position: absolute;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -49%);
  width: 341px;
  height: 237px;
}
@media (min-width: 992px) {
  #sec-parc-01 #cv-container .cv-btn #double-cercle-cv {
    display: block;
  }
}
#sec-parc-01 #cv-container .cv-btn #double-cercle-cv #cercle-cv-01 {
  stroke: #ffffff;
}
#sec-parc-01 #cv-container .cv-btn #double-cercle-cv #cercle-cv-02 {
  stroke: #ffffff;
  stroke-dasharray: 709;
  stroke-dashoffset: 709;
  transition: stroke-dashoffset 0.3s ease-in;
}
#sec-parc-01 #cv-container .cv-btn:hover #double-cercle-cv #cercle-cv-01 {
  stroke: #FF6666;
}
#sec-parc-01 #cv-container .cv-btn:hover #double-cercle-cv #cercle-cv-02 {
  transition-delay: 50ms;
  stroke-dashoffset: 1418;
  stroke: #FF6666;
}
#sec-parc-01 #blob-A {
  z-index: -2;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-A {
    width: 400px;
    height: 400px;
    right: 50%;
    transform: translateX(145%);
    top: -170px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-A {
    top: -60px;
    transform: translateX(220%);
  }
}
#sec-parc-01 #blob-B {
  z-index: -2;
  width: 350px;
  height: 350px;
  right: -130px;
  top: -100px;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-B {
    width: 650px;
    height: 650px;
    right: auto;
    left: -300px;
    top: -300px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-B {
    width: 700px;
    height: 700px;
    left: -300px;
    top: -380px;
  }
}
#sec-parc-01 #blob-C {
  z-index: -2;
  width: 350px;
  height: 350px;
  left: -70px;
  top: -360px;
  transform: rotate(19deg);
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-C {
    width: 600px;
    height: 600px;
    left: auto;
    right: -310px;
    top: -370px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-C {
    right: auto;
    left: -340px;
    top: -240px;
  }
}
#sec-parc-01 #blob-D {
  z-index: -2;
  width: 400px;
  height: 400px;
  right: -85px;
  top: -180px;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-D {
    width: 550px;
    height: 550px;
    right: auto;
    left: -180px;
    top: -180px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-D {
    left: auto;
    right: -150px;
    top: -190px;
  }
}
#sec-parc-01 #blob-E {
  z-index: -2;
  width: 400px;
  height: 400px;
  left: -150px;
  top: -150px;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-E {
    width: 550px;
    height: 550px;
    left: auto;
    right: -300px;
    top: -230px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-E {
    right: -200px;
    top: -90px;
  }
}
#sec-parc-01 #blob-F {
  z-index: -2;
  width: 350px;
  height: 350px;
  right: -70px;
  bottom: -290px;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-F {
    width: 700px;
    height: 700px;
    right: auto;
    bottom: auto;
    left: -150px;
    top: -350px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-F {
    left: auto;
    top: auto;
    right: -360px;
    bottom: -220px;
  }
}
#sec-parc-01 #blob-G {
  z-index: -2;
  width: 350px;
  height: 350px;
  left: -150px;
  bottom: -200px;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-G {
    width: 550px;
    height: 550px;
    left: auto;
    bottom: auto;
    right: -150px;
    top: -320px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-G {
    right: -250px;
    top: -200px;
  }
}
#sec-parc-01 #blob-H {
  z-index: -2;
}
@media (min-width: 992px) {
  #sec-parc-01 #blob-H {
    width: 750px;
    height: 750px;
    left: -300px;
    bottom: -400px;
  }
}
@media (min-width: 1600px) {
  #sec-parc-01 #blob-H {
    left: -700px;
    bottom: -300px;
  }
}/*# sourceMappingURL=style-parcours.css.map */